In [ ]:
# geeks for geeks python
# w3 school python
# yout ---> coray schefar
# programiz
# leet code

In [ ]:
loops - 1
functions - 2
map reduce filter - 1
file handling - 1
exceptional - 1
regular expression
- numpy --> 3
- pandas --> 4
- matplo & seaborn - 2

# Tuple

In [4]:
a = (324,45,56,67,67,78)


print(a , type(a))

(324, 45, 56, 67, 67, 78) <class 'tuple'>

# Different methods to create

In [5]:
# If you already know the elements


a = (324,45,56,67,67,78)


print(a , type(a))

(324, 45, 56, 67, 67, 78) <class 'tuple'>

In [7]:
# Taking user input

a = eval(input('Enter a tuple : '))


print(a , type(a))

Enter a tuple : (34,45,675,67)
(34, 45, 675, 67) <class 'tuple'>

In [8]:
a = eval(input('Enter a tuple : '))


print(a , type(a))

Enter a tuple : 34,45,56,667,78,87
(34, 45, 56, 667, 78, 87) <class 'tuple'>

# Type casting

In [9]:
a = [34,45,56]

print(tuple(a))

(34, 45, 56)

In [10]:
a = 'abc xyz'

print(tuple(a))

('a', 'b', 'c', ' ', 'x', 'y', 'z')

# Tuple packing and tuple packing

## Tuple packing 

Assigning multiple values to a single variable

In [11]:

a = (23,45,56,67)


print(a , type(a))

(23, 45, 56, 67) <class 'tuple'>

In [12]:

a = 34,45,56,67,78


print(a , type(a))

(34, 45, 56, 67, 78) <class 'tuple'>

In [ ]:
# Tuple unpacking

- assigning multiple values to multiple varia


LHS == RHS

In [13]:

a = 'xyz' , 34 , 4534543534534


print(a , type(a))

('xyz', 34, 4534543534534) <class 'tuple'>

In [15]:

a,b,c = 'xyz' , 34 , 4534543534534


print(a , type(a))

print(b , type(b))

print(c , type(c))

xyz <class 'str'>
34 <class 'int'>
4534543534534 <class 'int'>

In [16]:

a,b,c = 'xyz' , 34 , 4534543534534 , 'loc'


print(a , type(a))

print(b , type(b))

print(c , type(c))

ValueError: too many values to unpack (expected 3)

In [17]:

a,b,c = 'xyz' , 34 ,[4534543534534 , 'loc']


print(a , type(a))

print(b , type(b))

print(c , type(c))

xyz <class 'str'>
34 <class 'int'>
[4534543534534, 'loc'] <class 'list'>

In [20]:

a,b,c = 'xyz' , 34.43 , 4534543534534


print(a , type(a))

print(b , type(b))

print(c , type(c))

xyz <class 'str'>
34.43 <class 'float'>
4534543534534 <class 'int'>

In [19]:

a,b,c = ['xyz' , 34 , 4534543534534]


print(a , type(a))

print(b , type(b))

print(c , type(c))

xyz <class 'str'>
34 <class 'int'>
4534543534534 <class 'int'>

# Enumerate

In [88]:
a = 'this is pythons class'

In [24]:
print(list(a))

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'p', 'y', 't', 'h', 'o', 'n', 's', ' ', 'c', 'l', 'a', 's', 's']

In [31]:
list(enumerate(a))

[(0, 't'),
 (1, 'h'),
 (2, 'i'),
 (3, 's'),
 (4, ' '),
 (5, 'i'),
 (6, 's'),
 (7, ' '),
 (8, 'p'),
 (9, 'y'),
 (10, 't'),
 (11, 'h'),
 (12, 'o'),
 (13, 'n'),
 (14, 's'),
 (15, ' '),
 (16, 'c'),
 (17, 'l'),
 (18, 'a'),
 (19, 's'),
 (20, 's')]

In [28]:
print(list(enumerate(a , 100)))

[(100, 't'), (101, 'h'), (102, 'i'), (103, 's'), (104, ' '), (105, 'i'), (106, 's'), (107, ' '), (108, 'p'), (109, 'y'), (110, 't'), (111, 'h'), (112, 'o'), (113, 'n'), (114, 's'), (115, ' '), (116, 'c'), (117, 'l'), (118, 'a'), (119, 's'), (120, 's')]

In [33]:
for i in enumerate(a):
    print(i)

(0, 't')
(1, 'h')
(2, 'i')
(3, 's')
(4, ' ')
(5, 'i')
(6, 's')
(7, ' ')
(8, 'p')
(9, 'y')
(10, 't')
(11, 'h')
(12, 'o')
(13, 'n')
(14, 's')
(15, ' ')
(16, 'c')
(17, 'l')
(18, 'a')
(19, 's')
(20, 's')

In [38]:
for i,j,k in enumerate(a):
    print(j)

ValueError: not enough values to unpack (expected 3, got 2)

In [43]:
for i in enumerate(a):
    print(i)

(0, 't')
(1, 'h')
(2, 'i')
(3, 's')
(4, ' ')
(5, 'i')
(6, 's')
(7, ' ')
(8, 'p')
(9, 'y')
(10, 't')
(11, 'h')
(12, 'o')
(13, 'n')
(14, 's')
(15, ' ')
(16, 'c')
(17, 'l')
(18, 'a')
(19, 's')
(20, 's')

In [49]:
i = (6, 's')

i[1]

's'

In [50]:
i[0]

3

In [40]:
for i in enumerate(a):
    if i[1] == 's':
        print(i[0])

3
6
14
19
20

In [42]:
for i,j in enumerate(a):
    if j == 's':
        print(i)

3
6
14
19
20

In [55]:

existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_6': {'name': 'new_emp', 'age': 45, 'salary': 435345435},
 'emp_7': {'name': 'Salman', 'age': 54, 'salary': 546546546},
 'emp_8': {'name': 'abc', 'age': 56, 'salary': 454654645}}

In [61]:
for i,j in existing_emp.items():
    print(j)

{'name': 'Salahudin', 'age': 45, 'salary': 5464564565}
{'name': 'Sriram', 'age': 34, 'salary': 5656546546}
{'name': 'Abhishek', 'age': 28, 'salary': 7675675676}
{'name': 'Anshul', 'age': 27, 'salary': 6878678687}
{'name': 'Nabia', 'age': 25, 'salary': 6786765765}
{'name': 'new_emp', 'age': 45, 'salary': 435345435}
{'name': 'Salman', 'age': 54, 'salary': 546546546}
{'name': 'abc', 'age': 56, 'salary': 454654645}

# Properties of tuple


- It is a seq data type
- It allows to perform indexing , slicing
- It allows duplication
- It is hetrogeneous
- basic concatination , repetation , membership , identity


### Note: tuple is an immutable

In [75]:
a = 'xyz' , 'hello' , 34 , 45

a[1]

'hello'

In [76]:
a = 'xyz' , 'hello' , 34 , 45

a[-2]

34

In [77]:
a = 'xyz' , 'hello' , 34 , 45

a[1:3]

('hello', 34)

In [79]:

a = 'xyz' , 'hello' , 34 , 45

a[-2:-4:-1]

(34, 'hello')

In [82]:
a = 'xyz' , 'hello' , 34 , 45 , 'xyz' ,'xyz' ,'xyz' ,'xyz' ,'xyz'

a

('xyz', 'hello', 34, 45, 'xyz', 'xyz', 'xyz', 'xyz', 'xyz')

In [83]:
a = 'xyz' , 'hello' , 34 , 45.45 , ['xyz' ,'xyz' ,'xyz'] ,{'xyz' ,'xyz'}

a

('xyz', 'hello', 34, 45.45, ['xyz', 'xyz', 'xyz'], {'xyz'})

In [84]:
a = 1,2
b = 3,4


a+b

(1, 2, 3, 4)

In [85]:
a = 1,2
b = [3,4]


a+b

TypeError: can only concatenate tuple (not "list") to tuple

In [92]:
a = 1,2
b = 5


a * b

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

In [94]:
a = 1,2,3,4
b = 1,2,3,4

print(id(a))
print(id(b))

print(a is b)

1233663989440
1233663990480
False

In [96]:
a = 'xyz' , 45 ,8736 , 875


a[-2] = 999999

TypeError: 'tuple' object does not support item assignment

In [97]:
a = ('xyz' , 45 ,[8736 , 875])


a[-1][-1] = 999999

In [98]:
a

('xyz', 45, [8736, 999999])

In [99]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [100]:
a = 2,3,4,3,3,2,5,5,5,55,5,55,5,5,5,55,5,5,5


a.count(5)

10

In [101]:
a = 2,3,4,3,3,2,5,5,5,55,5,55,5,5,5,55,5,5,5


a.index(5)

6

In [102]:
a = 2,3,4,3,3,2,5,5,5,55,5,55,5,5,5,55,5,5,5


a.index(500)

ValueError: tuple.index(x): x not in tuple

# Set

In [103]:
a = {34,54,56}

print(a , type(a))

{56, 34, 54} <class 'set'>

In [ ]:
a = {34,54,56}

print(a , type(a))

# Properties of set

- Not a seq index , slicing not possible 
- Collection of unique values 

- Mutable data type 
- Cannot contain mutable data type

In [104]:
a = {34,54,56}

a[0]

TypeError: 'set' object is not subscriptable

In [105]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [110]:
a = {1,2,3,4}

print(a , id(a))

print(a.add(5))

{1, 2, 3, 4} 1233663906912
None

In [111]:
print(a , id(a))

{1, 2, 3, 4, 5} 1233663906912

In [115]:
a = {1,2,3,4,(2,3,4)}


print(a)

{1, 2, 3, 4, (2, 3, 4)}

In [116]:
a = {34,54,56,56,56,56,56,56,56}

a

{34, 54, 56}

In [118]:
a = set({})

print(a , type(a))

set() <class 'set'>

In [130]:
employees = set(['emp_1' , 'emp_2' , 'emp_3' , 'emp_4'])

employees

{'emp_1', 'emp_2', 'emp_3', 'emp_4'}

In [129]:
dev = set(['emp_2' , 'emp_4'])

dev

{'emp_2', 'emp_4'}

In [128]:
prod = set(['emp_1'])

prod

{'emp_1'}

In [127]:
qa = set(['emp_3'])

qa

{'emp_3'}

In [131]:
employees - dev

{'emp_1', 'emp_3'}

In [135]:
employees & qa

{'emp_3'}

In [137]:
prod | qa | dev

{'emp_1', 'emp_2', 'emp_3', 'emp_4'}

In [138]:
import pandas as pd

In [141]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35, 38],
})
df1

        city  temperature
0   new york           21
1    chicago           14
2    orlando           35
3  baltimore           38

In [142]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "humidity": [65,68,71],
})
df2

        city  humidity
0    chicago        65
1   new york        68
2  san diego        71

In [145]:
a = set(df1['city'])

a

{'baltimore', 'chicago', 'new york', 'orlando'}

In [146]:
b = set(df2['city'])

b

{'chicago', 'new york', 'san diego'}

In [147]:
a - b

{'baltimore', 'orlando'}

In [148]:
b - a

{'san diego'}

In [149]:
a & b

{'chicago', 'new york'}

In [150]:
a | b

{'baltimore', 'chicago', 'new york', 'orlando', 'san diego'}

In [151]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']