In [5]:
emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}


# extract the name of emp whose age >= 30

emp_data['emp_4']['age']

27

In [6]:
for i in emp_data:
    if emp_data[i]['age'] >= 30:
        print(emp_data[i]['name'])

Salahudin
Sriram

# Upodating the dic without the use of any method

In [7]:
# If the key is not present

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}

emp_data['emp_6'] = {'name':'New_emp' , 'age':25 , 'salary':6786765765 }


emp_data

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_6': {'name': 'New_emp', 'age': 25, 'salary': 6786765765}}

In [8]:
# If the key is present

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}

emp_data['emp_2'] = {'name':'Sriram' , 'age':40 , 'salary':6786765765 }


emp_data

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 40, 'salary': 6786765765},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765}}

In [9]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 40, 'salary': 6786765765},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765}}

In [10]:
a = {'name': 'Salahudin', 'age': 45, 'salary': 5464564565}


a['age'] = 50

a

{'name': 'Salahudin', 'age': 50, 'salary': 5464564565}

# Methods of dictionary

In [15]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Methods to access the items from the dict

- get
- setdefault
- update

### Get

In [16]:
# If the key is present

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}


emp_data.get('emp_3')

{'name': 'Abhishek', 'age': 28, 'salary': 7675675676}

In [17]:

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}

emp_data.get('emp_5')

{'name': 'Nabia', 'age': 25, 'salary': 6786765765}

In [18]:

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}

print(emp_data.get('emp_9'))

None

In [20]:

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}

print(emp_data.get('emp_10' , 'The emp Id which you are searching for is not present in the database'))

The emp Id which you are searching for is not present in the database

# Setdefault

In [21]:
# If the key is present

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}


emp_data.setdefault('emp_3')

{'name': 'Abhishek', 'age': 28, 'salary': 7675675676}

In [23]:
# If the key is not present

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}


print(emp_data.setdefault('emp_10'))

None

In [24]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_10': None}

In [25]:

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}


emp_data.setdefault('emp_10' , {'name':'new_emp' , 'age':25 , 'salary':6786765765 })

{'name': 'new_emp', 'age': 25, 'salary': 6786765765}

In [27]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_10': {'name': 'new_emp', 'age': 25, 'salary': 6786765765}}

# Update

In [28]:

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}


emp_data.update('emp_2')

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [29]:

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}

new_change = {'emp_3' : {'name':'Abhishek' , 'age':40 , 'salary':7675675676 }}


emp_data.update(new_change)

In [30]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 40, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765}}

In [33]:

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}

new_change = {'emp_6' : {'name':'new_emp_1' , 'age':40 , 'salary':7675675676 },
             'emp_7' : {'name':'new_emp_2' , 'age':40 , 'salary':7675675676 }}


emp_data.update(new_change)

In [34]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_6': {'name': 'new_emp_1', 'age': 40, 'salary': 7675675676},
 'emp_7': {'name': 'new_emp_2', 'age': 40, 'salary': 7675675676}}

### Task 1

In [47]:

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}

In [48]:
# HR

name = input('Enter the name : ')
salary = int(input('Enter the salary : '))
age = int(input('Enter the age : '))

key = f"emp_{len(emp_data)+1}"


emp_data.setdefault(key , {'name':name , 'age':age , 'salary':salary})

emp_data

Enter the name : new_emp
Enter the salary : 435345435
Enter the age : 45

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_6': {'name': 'new_emp', 'age': 45, 'salary': 435345435}}

In [50]:
name = input('Enter the name : ')
salary = int(input('Enter the salary : '))
age = int(input('Enter the age : '))

key = f"emp_{len(emp_data)+1}"


emp_data.update({key : {'name':name , 'age':age , 'salary':salary}})

emp_data

Enter the name : abc
Enter the salary : 454654645
Enter the age : 56

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_6': {'name': 'new_emp', 'age': 45, 'salary': 435345435},
 'emp_7': {'name': 'xyz', 'age': 54, 'salary': 546546546},
 'emp_8': {'name': 'abc', 'age': 56, 'salary': 454654645}}

- get - Extract the existing data, can pass personel message if key is not found , cannot update existing record , cannot insert
- setdefault- Extract the existing data, can insert any one record at a time , cannot update existing record
- update - Cannot extract the existing data, can insert and update existing multiple data

# Methods to remove the item from the dict

- pop
- popitem

In [51]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
### pop

- removes the item acording to the key
- removes the item and return you the value

In [52]:

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}


emp_data.pop('emp_3')

{'name': 'Abhishek', 'age': 28, 'salary': 7675675676}

In [53]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765}}

In [54]:

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}


a = emp_data.pop('emp_3')

In [55]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765}}

In [56]:
a

{'name': 'Abhishek', 'age': 28, 'salary': 7675675676}

In [57]:

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}


emp_data.pop('emp_10')

KeyError: 'emp_10'

In [58]:

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}


emp_data.pop('emp_10' , 'personel message')

'personel message'

In [59]:

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}


emp_data['emp_3'] = None


emp_data

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': None,
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765}}

In [60]:

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}


emp_data['emp_2'].pop('salary')

5656546546

In [61]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765}}

In [64]:

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}

In [71]:

emp_data.popitem()

('emp_2', {'name': 'Sriram', 'age': 34, 'salary': 5656546546})

In [72]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565}}

In [ ]:
# HR

name = input('Enter the name : ')
salary = int(input('Enter the salary : '))
age = int(input('Enter the age : '))

key = f"emp_{len(emp_data)+1}"


emp_data.setdefault(key , {'name':name , 'age':age , 'salary':salary})

emp_data

### Task2

In [74]:

existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_6': {'name': 'new_emp', 'age': 45, 'salary': 435345435},
 'emp_7': {'name': 'xyz', 'age': 54, 'salary': 546546546},
 'emp_8': {'name': 'abc', 'age': 56, 'salary': 454654645}}

ex_emp = {}

In [77]:
a = input('Enter the emp ID : ')

value = existing_emp.pop(a)

ex_emp.setdefault(a , value)

ex_emp

Enter the emp ID : emp_3

{'emp_6': {'name': 'new_emp', 'age': 45, 'salary': 435345435},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676}}

In [78]:
existing_emp

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_7': {'name': 'xyz', 'age': 54, 'salary': 546546546},
 'emp_8': {'name': 'abc', 'age': 56, 'salary': 454654645}}

In [ ]:
#

In [79]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

### Keys, items , values

In [80]:

existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_6': {'name': 'new_emp', 'age': 45, 'salary': 435345435},
 'emp_7': {'name': 'xyz', 'age': 54, 'salary': 546546546},
 'emp_8': {'name': 'abc', 'age': 56, 'salary': 454654645}}


existing_emp.keys()

dict_keys(['emp_1', 'emp_2', 'emp_3', 'emp_4', 'emp_5', 'emp_6', 'emp_7', 'emp_8'])

In [81]:

existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_6': {'name': 'new_emp', 'age': 45, 'salary': 435345435},
 'emp_7': {'name': 'xyz', 'age': 54, 'salary': 546546546},
 'emp_8': {'name': 'abc', 'age': 56, 'salary': 454654645}}


existing_emp.values()

dict_values([{'name': 'Salahudin', 'age': 45, 'salary': 5464564565}, {'name': 'Sriram', 'age': 34, 'salary': 5656546546}, {'name': 'Abhishek', 'age': 28, 'salary': 7675675676}, {'name': 'Anshul', 'age': 27, 'salary': 6878678687}, {'name': 'Nabia', 'age': 25, 'salary': 6786765765}, {'name': 'new_emp', 'age': 45, 'salary': 435345435}, {'name': 'xyz', 'age': 54, 'salary': 546546546}, {'name': 'abc', 'age': 56, 'salary': 454654645}])

In [82]:

existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_6': {'name': 'new_emp', 'age': 45, 'salary': 435345435},
 'emp_7': {'name': 'Salman', 'age': 54, 'salary': 546546546},
 'emp_8': {'name': 'abc', 'age': 56, 'salary': 454654645}}


existing_emp.items()

dict_items([('emp_1', {'name': 'Salahudin', 'age': 45, 'salary': 5464564565}), ('emp_2', {'name': 'Sriram', 'age': 34, 'salary': 5656546546}), ('emp_3', {'name': 'Abhishek', 'age': 28, 'salary': 7675675676}), ('emp_4', {'name': 'Anshul', 'age': 27, 'salary': 6878678687}), ('emp_5', {'name': 'Nabia', 'age': 25, 'salary': 6786765765}), ('emp_6', {'name': 'new_emp', 'age': 45, 'salary': 435345435}), ('emp_7', {'name': 'xyz', 'age': 54, 'salary': 546546546}), ('emp_8', {'name': 'abc', 'age': 56, 'salary': 454654645})])

In [86]:

existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_6': {'name': 'new_emp', 'age': 45, 'salary': 435345435},
 'emp_7': {'name': 'Salman', 'age': 54, 'salary': 546546546},
 'emp_8': {'name': 'abc', 'age': 56, 'salary': 454654645}}


for i in existing_emp.keys():
    if existing_emp[i]['name'].startswith('S'):
        print(existing_emp[i])

{'name': 'Salahudin', 'age': 45, 'salary': 5464564565}
{'name': 'Sriram', 'age': 34, 'salary': 5656546546}
{'name': 'Salman', 'age': 54, 'salary': 546546546}

In [89]:

existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_6': {'name': 'new_emp', 'age': 45, 'salary': 435345435},
 'emp_7': {'name': 'Salman', 'age': 54, 'salary': 546546546},
 'emp_8': {'name': 'abc', 'age': 56, 'salary': 454654645}}


for i in existing_emp.values():
    if i['name'].startswith('S'):
        print(i)

{'name': 'Salahudin', 'age': 45, 'salary': 5464564565}
{'name': 'Sriram', 'age': 34, 'salary': 5656546546}
{'name': 'Salman', 'age': 54, 'salary': 546546546}

In [93]:

existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_6': {'name': 'new_emp', 'age': 45, 'salary': 435345435},
 'emp_7': {'name': 'Salman', 'age': 54, 'salary': 546546546},
 'emp_8': {'name': 'abc', 'age': 56, 'salary': 454654645}}


for i,j in existing_emp.items():
    if j['name'].startswith('S'):
        print(j , i)

{'name': 'Salahudin', 'age': 45, 'salary': 5464564565} emp_1
{'name': 'Sriram', 'age': 34, 'salary': 5656546546} emp_2
{'name': 'Salman', 'age': 54, 'salary': 546546546} emp_7

## From keys

In [95]:
lst = ['Salahudin' , 'Sriram' , 'Abhishek' , 'Anshul']


dict(lst)

ValueError: dictionary update sequence element #0 has length 9; 2 is required

In [96]:
lst = ['Salahudin' , 'Sriram' , 'Abhishek' , 'Anshul']


dict.fromkeys(lst)

{'Salahudin': None, 'Sriram': None, 'Abhishek': None, 'Anshul': None}

In [97]:
lst = ['Salahudin' , 'Sriram' , 'Abhishek' , 'Anshul']


dict.fromkeys(lst , 0)

{'Salahudin': 0, 'Sriram': 0, 'Abhishek': 0, 'Anshul': 0}

In [99]:

print(dict.fromkeys(range(101) , 0))

{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 0, 19: 0, 20: 0, 21: 0, 22: 0, 23: 0, 24: 0, 25: 0, 26: 0, 27: 0, 28: 0, 29: 0, 30: 0, 31: 0, 32: 0, 33: 0, 34: 0, 35: 0, 36: 0, 37: 0, 38: 0, 39: 0, 40: 0, 41: 0, 42: 0, 43: 0, 44: 0, 45: 0, 46: 0, 47: 0, 48: 0, 49: 0, 50: 0, 51: 0, 52: 0, 53: 0, 54: 0, 55: 0, 56: 0, 57: 0, 58: 0, 59: 0, 60: 0, 61: 0, 62: 0, 63: 0, 64: 0, 65: 0, 66: 0, 67: 0, 68: 0, 69: 0, 70: 0, 71: 0, 72: 0, 73: 0, 74: 0, 75: 0, 76: 0, 77: 0, 78: 0, 79: 0, 80: 0, 81: 0, 82: 0, 83: 0, 84: 0, 85: 0, 86: 0, 87: 0, 88: 0, 89: 0, 90: 0, 91: 0, 92: 0, 93: 0, 94: 0, 95: 0, 96: 0, 97: 0, 98: 0, 99: 0, 100: 0}

In [ ]:
lst = ['Salahudin' , 'Sriram' , 'Abhishek' , 'Anshul']

In [100]:
d = dict.fromkeys(range(101) , 0)


print(d)

{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 0, 19: 0, 20: 0, 21: 0, 22: 0, 23: 0, 24: 0, 25: 0, 26: 0, 27: 0, 28: 0, 29: 0, 30: 0, 31: 0, 32: 0, 33: 0, 34: 0, 35: 0, 36: 0, 37: 0, 38: 0, 39: 0, 40: 0, 41: 0, 42: 0, 43: 0, 44: 0, 45: 0, 46: 0, 47: 0, 48: 0, 49: 0, 50: 0, 51: 0, 52: 0, 53: 0, 54: 0, 55: 0, 56: 0, 57: 0, 58: 0, 59: 0, 60: 0, 61: 0, 62: 0, 63: 0, 64: 0, 65: 0, 66: 0, 67: 0, 68: 0, 69: 0, 70: 0, 71: 0, 72: 0, 73: 0, 74: 0, 75: 0, 76: 0, 77: 0, 78: 0, 79: 0, 80: 0, 81: 0, 82: 0, 83: 0, 84: 0, 85: 0, 86: 0, 87: 0, 88: 0, 89: 0, 90: 0, 91: 0, 92: 0, 93: 0, 94: 0, 95: 0, 96: 0, 97: 0, 98: 0, 99: 0, 100: 0}

In [104]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [105]:

existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_6': {'name': 'new_emp', 'age': 45, 'salary': 435345435},
 'emp_7': {'name': 'Salman', 'age': 54, 'salary': 546546546},
 'emp_8': {'name': 'abc', 'age': 56, 'salary': 454654645}}

existing_emp.clear()

In [106]:
existing_emp

{}

In [107]:
existing_emp = {'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_6': {'name': 'new_emp', 'age': 45, 'salary': 435345435},
 'emp_7': {'name': 'Salman', 'age': 54, 'salary': 546546546},
 'emp_8': {'name': 'abc', 'age': 56, 'salary': 454654645}}


len(existing_emp)

8

In [108]:
for i in existing_emp:
    print(i)

emp_1
emp_2
emp_3
emp_4
emp_5
emp_6
emp_7
emp_8

# Tuple, set , conditional