In [ ]:
stat1
stat2
if condition:
    stat3
    stat4
    stat5
stat6

In [ ]:
T ---> 1,2,3,4,5,6

F ---> 1,2,6

In [ ]:
stat1
stat2
if condition:
    stat3
    stat4
    stat5
else:
    stat7
    stat8
    stat9
stat6

In [ ]:
T ---> 1,2,3,4,5,6

F --> 1,2,7,8,9,6

In [ ]:
stat1
stat2
if condition1:
    stat3
    stat4
if condition2:
    stat5
    stat9
if condition3:
    stat10
    stat11
else:
    stat7
    stat8

stat6

In [ ]:
if 1 & 3 are T rest all are F ---> 1,2,3,4,10,11,6

In [6]:
a = 10
b = 20

if a < b: # T
    print('Python')
if a > b: # F
    print('JAVA')
if a !=b: # T
    print('SQL')
else:
    print('Big data')
    
print('AWS')

Python
SQL
AWS

In [9]:
a = 10
b = 20

if a == b: # 
    print('Python')
    print('HI')

if a > b: # F
    print('JAVA')
if a !=b: # T
    print('SQL')
else:
    print('Big data')
    
print('AWS')

SQL
AWS

In [10]:
a = 10
b = 20

if a == b: # F
    print('Python')
else:
    print('Pyspark')
if a > b: # F
    print('JAVA')
if a == b: # F
    print('SQL')
else:
    print('Big data')
    
print('AWS')

Pyspark
Big data
AWS

In [ ]:
if , else, elif

In [ ]:
stat1
stat2
if condition1:
    stat3
    stat4
elif condition2:
    stat5
    stat9
elif condition3:
    stat10
    stat11
else:
    stat7
    stat8

stat6

In [ ]:
stat1
stat2
if condition1:
    stat3
    stat4
else:
    stater2
if condition2:
    veg
else:
    no veg
if condition3:
    de1
else:
    de2

stat6

In [ ]:
multiple if block are independent


if , elif else -- is one block -- where you have a dependency with all the conditions

In [ ]:
a = 10
b = 20

if a == b: # F
    print('Python')

if a > b: # F
    print('JAVA')
    
if a == b: # F
    print('SQL')
else:
    print('Big data')
    
print('AWS')

In [11]:
a = 'program'
b = 'accounts'
c = 'sales'
d = 'mark'

In [12]:
per = 'sales'

if per == a:
    print('Hired for dev')
elif per == b:
    print('Hired for accounts')
elif per == c:
    print('Hired for sales team')
elif per == d:
    print('Hired for marketing team')
else:
    print("Thank you we'll get back to you")
    
print('Requirement fullfilled')

Hired for sales team
Requirement fullfilled

In [15]:
per = 'sales'

if per == a:
    print('Hired for dev')
    
elif per == b:
    print('Hired for accounts')
elif per == c: # T
    print('Hired for sales team')
elif per == 'sales': # T
    print('Hired for marketing team')
else:
    print("Thank you we'll get back to you")
    
print('Requirement fullfilled')

SyntaxError: invalid syntax (745300651.py, line 7)

In [16]:
a = {'experience':15 , 'salary' : 30000 , 'loc' : 'chen'}


if a['experience'] > 10:
    print('Manager')
else:
    print('Develo')
    
if a['salary'] < 50000:
    print('junior')
else:
    print('senior')
    
if a['loc'] == 'ban':
    print('WFO')
else:
    print('WFH')
    
print('Planning for birthday')

Manager
junior
WFH
Planning for birthday

In [17]:
a = {'experience':15 , 'salary' : 90000 , 'loc' : 'chen'}


if a['experience'] > 10:
    print('Manager')
else:
    print('Develo')
    
if a['salary'] < 50000:
    print('junior')
else:
    print('senior')
    
if a['loc'] == 'ban':
    print('WFO')
else:
    print('WFH')
    
print('Planning for birthday')

Manager
senior
WFH
Planning for birthday

In [18]:
a = {'experience':15 , 'salary' : 90000 , 'loc' : 'chen'}


if a['experience'] > 10: # T
    print('Manager')
    
if a['salary'] < 50000: # F
    print('junior')

if a['loc'] == 'ban': # F
    print('WFO')
else:
    print('WFH')
    
print('Planning for birthday')

Manager
WFH
Planning for birthday

In [19]:
a = {'experience':15 , 'salary' : 90000 , 'loc' : 'ban'}


if a['experience'] > 10: # T
    print('Manager')
    
if a['salary'] < 50000: # F
    print('junior')

if a['loc'] == 'ban': # T
    print('WFO')
else:
    print('WFH')
    
print('Planning for birthday')

Manager
WFO
Planning for birthday

In [20]:
a = {'experience':15 , 'salary' : 90000 , 'loc' : 'ban'}


if a['experience'] > 10: # T
    print('Manager')
    
elif a['salary'] < 50000: # F
    print('junior')

elif a['loc'] == 'ban': # T
    print('WFO')
    
else:
    print('WFH')
    
print('Planning for birthday')

Manager
Planning for birthday

# Nested if condition

In [ ]:
if cond:
    if condi:
        stat
    elif condi:
        stat2
    else:
        stat3
else:
    print('hk')

In [24]:
a = {'experience':5 , 'salary' : 4000 , 'loc' : 'ban'}



if a['experience'] >= 10:
    print('Hired')
    if a['salary'] <= 50000:
        print('Developer')
    else:
        print('Lead role')
        
    if a['loc'] == 'ban': 
        print('WFO') 
    else:
        print('WFH')
        
else:
    print('Not hired')

Not hired

In [25]:
a = {'experience':11 , 'salary' : 4000 , 'loc' : 'ban'}



if a['experience'] >= 10:
    print('Hired')
    if a['salary'] <= 50000:
        print('Developer')
    else:
        print('Lead role')
        
    if a['loc'] == 'ban': 
        print('WFO') 
    else:
        print('WFH')
        
else:
    print('Not hired')

Hired
Developer
WFO

In [27]:
a = {'experience':11 , 'salary' : 4000 , 'loc' : 'ban'}



if a['experience'] >= 10:
    print('Hired')
    if a['salary'] <= 50000:
        print('Developer')
    else:
        print('Lead role')
        
    if a['loc'] != 'ban': 
        print('WFO') 
    else:
        print('WFH')
        
else:
    print('Not hired')
    
print('Another task')

Hired
Developer
WFH
Another task

In [28]:
a = {'experience':11 , 'salary' : 4000 , 'loc' : 'ban'}



if a['experience'] >= 10: # T
    print('Hired')
    if a['salary'] <= 50000: # T
        print('Developer')
      
    elif a['loc'] == 'ban': # T
        print('WFO') 
        
    else:
        print('WFH')
        
else:
    print('Not hired')
    
print('Another task')

Hired
Developer
Another task

# Task 1

- input 1-6
 3 --> three
 2 --> two
 
- any number beyond or below this range
    9
    23.43
    -4
    Print('Number out of range')
    
- if within
    2.3
    4.5
    print('Invalid number)

In [35]:
a = eval(input('Enter the number : '))


if a > 6 or a <1:
    print('Number out of range')
else:
    if type(a) != int:
        print('Invalid number')
    elif a == 1:
        print('One')
    elif a == 2:
        print('Two')
    elif a == 3:
        print('Three')
    elif a == 4:
        print('Four')
    elif a == 5:
        print('Five')
    elif a == 6:
        print('six')

Enter the number : 3.4
Invalid number

In [39]:
a = eval(input('Enter the number : '))

d = {1:'One' , 2:'Two' , 3:'Three' , 4:'Four' , 5:'Five' , 6:'Six'}

if a>6 or a < 1:
    print('Number out of range')
elif a in d:
    print(d[a])
else:
    print('Invalid number')

Enter the number : 9.5
Number out of range

# Task 2 basic calc

3 inputs from the user
1 & 2--> enter a number

3 --> (+,-,*,/) or (add , sub , mul , div)
invalid operator

In [41]:
a = eval(input('Enter first number : '))
b = eval(input('Enter first number : '))
c = input('Enter the op : ').lower()


if (c == '+') or (c == 'add'):
    print(a+b)
elif (c == '-') or (c == 'sub'):
    print(a-b)
elif (c == '*') or (c == 'mul'):
    print(a*b)
elif (c == '/') or (c == 'div'):
    print(a/b)
else:
    print('Invalid op')

Enter first number : 10
Enter first number : 20
Enter the op : +
30

In [51]:
a = eval(input('Enter first number : '))
b = eval(input('Enter first number : '))
c = input('Enter the op : ').lower()


d1 = {'+' : a+b , '-' : a-b , '*' : a *b , '/': a/b}
d2 = {'add' : a+b , 'sub' : a-b , 'mul' : a *b , 'div': a/b}


if (c in d1) or (c in d2):
    print(d1.get(c) or d2.get(c))
else:
    print('Invalid operator')

Enter first number : 10
Enter first number : 20
Enter the op : add
30

In [ ]:
a = eval(input('Enter first number : '))
b = eval(input('Enter first number : '))
c = input('Enter the op : ').lower()


d1 = {'+' : a+b , '-' : a-b , '*' : a *b , '/': a/b}
d2 = {'add' : a+b , 'sub' : a-b , 'mul' : a *b , 'div': a/b}


if (c in d1):
    print(d1.get(c))
elif (c in d2):
    print(d2.get(c))
else:
    print('Invalid operator')