# List

- Anything written inside [] and each element are seperated ,

In [6]:
a = [324,45,56,67]

print(a , type(a))

[324, 45, 56, 67] <class 'list'>

# Creating a list

In [7]:
# If you already know the elements

a = ['Apple' , 'Mango' , 'Banana']

print(a , type(a))

['Apple', 'Mango', 'Banana'] <class 'list'>

In [8]:
# Allow the user to enter

a = input('Enter a list : ')

print(a , type(a))

Enter a list : [23,45,56,67]
[23,45,56,67] <class 'str'>

In [10]:
# Allow the user to enter

a = eval(input('Enter a list : '))

print(a , type(a))

Enter a list : [34,56,67,78,78]
[34, 56, 67, 78, 78] <class 'list'>

In [11]:
# 3rd method - type casting

a = 'xyz abc'
b = (34,45,56,67)


print(list(a))
print(list(b))

['x', 'y', 'z', ' ', 'a', 'b', 'c']
[34, 45, 56, 67]

In [13]:
a = list(eval(input('Enter a list : ')))

print(a , type(a))

Enter a list : 34,546,56,67,6767,56,56,67
[34, 546, 56, 67, 6767, 56, 56, 67] <class 'list'>

In [15]:
a = list('hello world')

print(a , type(a))

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd'] <class 'list'>

In [16]:
# 4th method

a = 'hello world'.split()

print(a , type(a))

['hello', 'world'] <class 'list'>

# Properties of list

- It is an seq data type, It allows you to perform Indexing and Slicing
- It supports both possitive and negative indexing
- It allows duplication
- It is hetrogeneous - Can store multiple data types
- It allows basic op - concatination , repetation , Identity , Membership

### Note:- It is an mutable data type

In [ ]:
lst = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com' , 'Chandan@hotmail.com' , 'akanksha@gmail.com' ,
       'ashish@yahoo.com' ,'Dharshan@outlook.com']

In [21]:
a = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com' , 'Chandan@hotmail.com' ]

a[1] # +ve

'Abhijeet@yahoo.com'

In [22]:
a[-3] # -ve

'Abhijeet@yahoo.com'

In [25]:
a = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com' , 'Chandan@hotmail.com' ]

a[1 : 3]

['Abhijeet@yahoo.com', 'Abhishek@gmail.com']

In [27]:
a = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com' , 'Chandan@hotmail.com' ]

a[-2:-4:-1]

['Abhishek@gmail.com', 'Abhijeet@yahoo.com']

In [28]:
a = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com' , 'Chandan@hotmail.com' ]

a[0:4:2]

['Sriram@gmail.com', 'Abhishek@gmail.com']

In [29]:
a = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com' , 'Chandan@hotmail.com' ]

a[-1:-4:-2]

['Chandan@hotmail.com', 'Abhijeet@yahoo.com']

# It allows duplication

In [35]:
a = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com' , 'Chandan@hotmail.com'  ,
    'Sriram@gmail.com' ,'Sriram@gmail.com' ,'Sriram@gmail.com' ,'Sriram@gmail.com' ,'Sriram@gmail.com' ,
    'Sriram@gmail.com' ,'Sriram@gmail.com' ,'Sriram@gmail.com' ,'Sriram@gmail.com' ,'Sriram@gmail.com' ,]

a

['Sriram@gmail.com',
 'Abhijeet@yahoo.com',
 'Abhishek@gmail.com',
 'Chandan@hotmail.com',
 'Sriram@gmail.com',
 'Sriram@gmail.com',
 'Sriram@gmail.com',
 'Sriram@gmail.com',
 'Sriram@gmail.com',
 'Sriram@gmail.com',
 'Sriram@gmail.com',
 'Sriram@gmail.com',
 'Sriram@gmail.com',
 'Sriram@gmail.com']

# It is hetrogenous

In [36]:
a = ['Sriram@gmail.com' , 12,34.34,{'a':45} ,[34,45,56]]

a

['Sriram@gmail.com', 12, 34.34, {'a': 45}, [34, 45, 56]]

In [37]:
# Concatination
# op - +
# operands --> Both should be list

a = [23,54,56]
b = [34,45,56]

a + b

[23, 54, 56, 34, 45, 56]

In [38]:
a = [1,2,3]
b = [4,5,6]

a + b

[1, 2, 3, 4, 5, 6]

In [39]:
a = [1,2,3]
b = 45

a + b

TypeError: can only concatenate list (not "int") to list

In [40]:
# repetation
# op - *
# operands --> one should be list and another an int

a = [1,2,3]
b = 3

a * b

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [45]:
a = [1.34,2,3 , 'hello']
b = 2

a * b

[1.34, 2, 3, 'hello', 1.34, 2, 3, 'hello']

In [46]:
a = 'abc'
b = 2

a * b

'abcabc'

In [47]:
a = ['abc' , 'xyz']
b = 2

a * b

['abc', 'xyz', 'abc', 'xyz']

In [48]:
a = ('abc' , 'xyz')
b = 2

a * b

('abc', 'xyz', 'abc', 'xyz')

In [51]:
# identity
# op - is , is not


a = [1,2,3]
b = [1,2,3]

print(id(a))
print(id(b))

print(a is b)

print(a == b)

2654042293952
2654042244544
False
True

In [53]:
# membership
# op - in , not in


lst = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com' , 'Chandan@hotmail.com' , 'akanksha@gmail.com' ,
       'ashish@yahoo.com' ,'Dharshan@outlook.com']


'ashish@yahoo.com' in lst

True

In [57]:
# membership
# op - in , not in


lst = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com' , 'Chandan@yahoo.com' , 'akanksha@gmail.com' ,
       'ashish@yahoo.com' ,'Dharshan@yahoo.com' , 'yahoo.com@xyz']


'yahoo.com' in lst

True

# Methods of list

In [64]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# Method to add the elements inside a list

- append
- extend
- insert

In [65]:
a = 'python'

print(a.replace('p' , 'j'))

jython

In [66]:
a

'python'

# Append

- Insert 1 element at a time inside a list
- You can insert only at the end

In [67]:
a = [1,2,3,4]

print(a.append(100))

None

In [68]:
a

[1, 2, 3, 4, 100]

In [69]:
a = [1,2,3,4]

a.append(100)

a

[1, 2, 3, 4, 100]

In [70]:
a = [1,2,3,4]

a.append(100 , 200)

a

TypeError: list.append() takes exactly one argument (2 given)

In [71]:
a = [1,2,3,4]

a.append([100 , 200])

a

[1, 2, 3, 4, [100, 200]]

# Extend

- Can insert multiple elements inside a list
- Can insert only at the end

In [72]:
a = [1,2,3,4]

a.append([100 , 200])

a

[1, 2, 3, 4, [100, 200]]

In [74]:
a = [1,2,3,4]

a.extend([100 , 200])

a

[1, 2, 3, 4, 100, 200]

# Insert

In [77]:

lst = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com' , 'Chandan@hotmail.com' ]


new_mail = 'xyz@gmail.com'

lst.insert(2 , new_mail)

lst

['Sriram@gmail.com',
 'Abhijeet@yahoo.com',
 'xyz@gmail.com',
 'Abhishek@gmail.com',
 'Chandan@hotmail.com']

In [79]:

lst = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com' , 'Chandan@hotmail.com' ]


new_mail = 'xyz@gmail.com'

lst.insert(0 , new_mail)

lst

['xyz@gmail.com',
 'Sriram@gmail.com',
 'Abhijeet@yahoo.com',
 'Abhishek@gmail.com',
 'Chandan@hotmail.com']

In [86]:

lst = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com'  ]


new_mail = ['xyz@gmail.com' , 'abc@gmail.com']

lst.extend(new_mail)

print(lst)

['Sriram@gmail.com', 'Abhijeet@yahoo.com', 'Abhishek@gmail.com', 'xyz@gmail.com', 'abc@gmail.com']

In [88]:
# Concatination

lst = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com'  ]


new_mail = ['xyz@gmail.com' , 'abc@gmail.com']

print(lst+new_mail)

print(lst)
print(new_mail)

['Sriram@gmail.com', 'Abhijeet@yahoo.com', 'Abhishek@gmail.com', 'xyz@gmail.com', 'abc@gmail.com']
['Sriram@gmail.com', 'Abhijeet@yahoo.com', 'Abhishek@gmail.com']
['xyz@gmail.com', 'abc@gmail.com']

# Nested list

In [ ]:
a = [1,2,3] # list

a = [1,2,3,[4,5,6]] # nested list

In [89]:
a = [1,2,3]

a[-1]

3

In [90]:
a = [1,2,3,[4,5,6]]

a[-1]

[4, 5, 6]

In [91]:
len(a)

4

In [94]:
a = [1,2,3,[4,5,6]]

a[3][1]

5

In [96]:
a = ['name' , 'mobile' , 'address' , 'quantity' , ['color' , 'ram' , 'model']]

print(a[4][1])

print(a[-1][-2])

ram
ram

In [99]:
a = ['name' , 'mobile' , ['was given' , 'not given'] , 'address' , 'quantity' , ['color' , 'ram' , 'model']]

a[2][-1]

'not given'

In [100]:
a = ['name' , 'mobile' , ['was given' , 'not given'] , 'address' , 'quantity' , ['color' , 'ram' , 'model']]

a[3:5]

['address', 'quantity']

In [102]:
a = ['name' , 'mobile' , ['was given' , 'not given'] , 'address' , 'quantity' , ['color' , 'ram' , 'model']]

a[5][1:]

['ram', 'model']

In [103]:
# model , color

a = ['name' , 'mobile' , ['was given' , 'not given'] , 'address' , 'quantity' , ['color' , 'ram' , 'model']]

a[5][-1::-2]

['model', 'color']

In [115]:
a =   [[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]]

a[3][2]

20

In [116]:
a =   [[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]]

a[-2][4]

28

In [118]:
# 19, 20, 21

a =   [[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]]

a[-3][1:4]

[19, 20, 21]

In [121]:
# 21 , 20 , 19


a =   [[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]]

a[-3][-3:-6:-1]

[21, 20, 19]

In [125]:

a =   [[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 'python', 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]]

print(a[3][2][::-1])

print(a[3][2][4:])

nohtyp
on

In [130]:
b =   [[ 0,  1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23, 24, 25, 26],
       [27, 28, 29, 30, 31, 32, 33, 34, 35]]

# 18 , 20 , 22 , 24
print(b[2][0:7:2])

# 24 , 22 , 20 , 18

print(b[-2][-3::-2])

[18, 20, 22, 24]
[24, 22, 20, 18]

In [133]:
d =   [[[ 0,  1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10, 11]],

       [[12, 13, 14, 15, 16, 17],
        [18, 19, 20, 21, 22, 23]],

       [[24, 25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34, 35]]]

# 19, 20, 21, 22

print(d[1][1][1:5])

[19, 20, 21, 22]

In [135]:

a =   [[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]]
a[1::2]

[[6, 7, 8, 9, 10, 11], [18, 19, 20, 21, 22, 23], [30, 31, 32, 33, 34, 35]]