In [1]:
lst = [43,23,45,65,34,76,34]

In [ ]:
- ascending

In [ ]:
43,23,45,65,34,76,34

23,43,45,65,34,76,34

23,43,45,65,34,76,34

23,43,45,65,34,76,34

23,43,45,34,65,76,34

23,43,45,34,65,76,34

23,43,45,34,65,34,76

In [34]:
lst = [43,23,45,65,34,76,34]

In [35]:
for i in range(len(lst)):
    print(i)

0
1
2
3
4
5
6

In [39]:
lst = [43,23,45,65,34,76,34]
for j in range(len(lst)):
    for i in range(len(lst)- j  - 1):
        if lst[i]< lst[i+1]:
            lst[i] , lst[i+1] = lst[i+1] , lst[i]
            
            
lst

[76, 65, 45, 43, 34, 34, 23]

In [50]:
lst = [43,23,45,65,34,76,34]

In [55]:
for i in range(len(lst)-j - 1):
        if lst[i]> lst[i+1]:
            lst[i] , lst[i+1] = lst[i+1] , lst[i]

In [58]:
for j in range(len(lst)):
    for i in range(len(lst)-j - 1):
        if lst[i]> lst[i+1]:
            lst[i] , lst[i+1] = lst[i+1] , lst[i]

0
1
2
3
4
5
6

In [59]:
lst = [['Abc',37] , ['Sriram', 29], ['Mithun', 37], ['Chetan', 27] , ['Jayanth', 37], ['Santhosh', 25], ['Ashok', 40]]


for i in range(len(lst)):
    for j in range(len(lst) - i - 1):
        if  lst[j][-1] == lst[j+1][-1]:
            if lst[j][0] > lst[j+1][0]:
                lst[j] , lst[j+1] = lst[j+1] , lst[j]
        elif lst[j][-1] > lst[j+1][-1]:
            lst[j] , lst[j+1] = lst[j+1] , lst[j]

            
print(lst)

[['Santhosh', 25], ['Chetan', 27], ['Sriram', 29], ['Abc', 37], ['Jayanth', 37], ['Mithun', 37], ['Ashok', 40]]

In [96]:
lst = [['Salahudin',37, 8] , ['Sriram', 29 , 3], ['Mithun', 38 , 8],
       ['Chetan', 27 , 4] , ['Jayanth', 37 , 13], ['Santhosh', 25 , 2], ['Ashok', 40 , 17] , ['Abc' , 37 , 8]]

# - 1. Sort my data  exp
# - 2. Sort the data grades
# - 3. alphabetic order 

for i in range(len(lst)):
    for j in range(len(lst)-1-i):
        if lst[j][-1]>lst[j+1][-1]: # exp
            lst[j] , lst[j+1] = lst[j+1] , lst[j]
        elif lst[j][-1] == lst[j+1][-1]: # Grades
            if lst[j][1] > lst[j+1][1]:
                lst[j] , lst[j+1] = lst[j+1] , lst[j]
            elif lst[j][1] == lst[j+1][1]: # Alpha
                if lst[j][0] > lst[j+1][0]:
                    lst[j] , lst[j+1] = lst[j+1] , lst[j]
            
            
lst

[['Santhosh', 25, 2],
 ['Sriram', 29, 3],
 ['Chetan', 27, 4],
 ['Abc', 37, 8],
 ['Salahudin', 37, 8],
 ['Mithun', 38, 8],
 ['Jayanth', 37, 13],
 ['Ashok', 40, 17]]

In [102]:
lst = [['Salahudin',37, 8] , ['Sriram', 29 , 3], ['Mithun', 38 , 8],
       ['Chetan', 27 , 4] , ['Jayanth', 37 , 13], ['Santhosh', 25 , 2], ['Ashok', 40 , 17] , ['Abc' , 37 , 8]]

def exp(a):
    return a[-1]


def grades(a):
    return a[-2]


def names(a):
    return a[0]


lst.sort(key = names)
lst.sort(key = grades)
lst.sort(key = exp)

lst

[['Santhosh', 25, 2],
 ['Sriram', 29, 3],
 ['Chetan', 27, 4],
 ['Abc', 37, 8],
 ['Salahudin', 37, 8],
 ['Mithun', 38, 8],
 ['Jayanth', 37, 13],
 ['Ashok', 40, 17]]

In [91]:
lst = [['Salahudin',37, 8] , ['Sriram', 29 , 3], ['Mithun', 38 , 8],
       ['Chetan', 27 , 4] , ['Jayanth', 37 , 13], ['Santhosh', 25 , 2], ['Ashok', 40 , 17] , ['Abc' , 37 , 8]]

import pandas as pd
df = pd.DataFrame(lst , columns = ['Name' , 'Grade' , 'Exp'])
df.sort_values(by = ['Exp' , 'Grade' , 'Name'] , ignore_index= True)

        Name  Grade  Exp
0   Santhosh     25    2
1     Sriram     29    3
2     Chetan     27    4
3        Abc     37    8
4  Salahudin     37    8
5     Mithun     38    8
6    Jayanth     37   13
7      Ashok     40   17

# Recursive function

- A function calling itself again and again is called recursive function

In [103]:
def funct():
    a = int(input('Enter a number : '))
    if a == 0:
        print('Ending the function')
    else:
        return funct()

In [ ]:
funct()

In [ ]:
bal = 0

while True:
    amt = eval(input('enter the amount : '))
    bal += amt
    print(f"{amt} has been deposited the current balance is {bal}")
    d = input('Do you want to retry ? y/n : ')
    if d == 'y':
        continue
    elif d == 'n': 
        print('Have a nice day')
        break

In [137]:
bal = 0

def cdm():
    global bal
    amt = eval(input('enter the amount : '))
    bal += amt
    print(f"{amt} has been deposited the current balance is {bal}")
    d = input('Do you want to retry ? y/n : ')
    if d == 'y':
        return cdm()
    elif d == 'n': 
        return 'Have a nice day'
        
cdm()

enter the amount : 100
100 has been deposited the current balance is 100
Do you want to retry ? y/n : y
enter the amount : 200
200 has been deposited the current balance is 300
Do you want to retry ? y/n : n

'Have a nice day'

In [138]:
bal

300

In [144]:
def funct():
    a = int(input('Enter a number : '))
    if a == 0:
        return 'Ending the function'
    else:
        return funct()
        
print(funct())

Enter a number : 5
Enter a number : 0
Ending the function

In [143]:
def fact(num):
    if num == 0:
        return 1
    else:
        return num * fact(num-1)
    
fact(5)

120

In [ ]:
def CDM(bal = 0): 
    amt = eval(input("enter the amount:  "))
    bal += amt
    print(f"{amt} has been credited, the current bal is {bal}")
    d = input("do you want to retry? y/n:   ")
    if d == "y":
        return CDM(bal+= amt)
    elif d == "n":
        print("have a nice day!")

In [161]:
bal = 0

def cdm():
    global bal
    amt = eval(input('enter the amount : '))
    bal += amt
    print(f"{amt} has been deposited the current balance is {bal}")
    d = input('Do you want to retry ? y/n : ')
    if d == 'y':
        return cdm()
    elif d == 'n': 
        return amt
        
re = cdm()

enter the amount : 10
10 has been deposited the current balance is 10
Do you want to retry ? y/n : y
enter the amount : 20
20 has been deposited the current balance is 30
Do you want to retry ? y/n : n

In [162]:
print(re)

20

In [ ]:
None

'Have a nice day'

In [157]:
def funct():
    a = int(input('Enter a number : '))
    if a == 0:
        return 'Hi'
    else:
        funct()
        
print(funct())

Enter a number : 5
Enter a number : 0
None

# Lambda map reduce filter