# for loop

In [ ]:
for var in iterable:
    stat1
    stat2

In [ ]:
- len

- print(dir(object)) ---> __iter__

In [26]:
for i in 12345:
    print(i)

TypeError: 'int' object is not iterable

In [20]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
for var in iterable: ---> Fixed amount of iterations
    stat1
    stat2

In [27]:
for i in 'hi':
    pass

# While loop ---> For unknown iterations

1. initialization
2. condition checking
3. inc / dec

In [32]:
i = 1 # initialization

while i<= 5: # condition checking
    print('Hello world')
    i += 1 # inc

Hello world
Hello world
Hello world
Hello world
Hello world

In [36]:
a = 'python'

# p
# yy
# ttt
# hhhh
# ooooo
# nnnnnn

print(a[0] * 1)
print(a[1] * 2)
print(a[2] * 3)
print(a[3] * 4)
print(a[4] * 5)
print(a[5] * 6)

p
yy
ttt
hhhh
ooooo
nnnnnn

In [40]:
# For loop

a = 'python'

for i in range(len(a)):
    print(a[i] * (i+1))

p
yy
ttt
hhhh
ooooo
nnnnnn

In [44]:
# While loop

i = 0

while i < 6:
    print(a[i] * (i+1))
    i +=1

p
yy
ttt
hhhh
ooooo
nnnnnn

In [46]:

i = 0

while i < len(a):
    print(a[i] * (i+1))
    i +=1

p
yy
ttt
hhhh
ooooo
nnnnnn

In [ ]:
# nnnnnn
# ooooo
# hhhh
# ttt
# yy
# p

In [53]:
a = 'python'

i = len(a)


while i > 0:
    print(a[i-1] * i)
    i -= 1

nnnnnn
ooooo
hhhh
ttt
yy
p

In [54]:
a = 'python'

i = len(a)-1


while i >= 0:
    print(a[i] * (i+1))
    i -= 1

nnnnnn
ooooo
hhhh
ttt
yy
p

In [79]:
a = 'python'

i = len(a)


while i >= 0:
    print(a[i-1] * i)
    i -= 1

nnnnnn
ooooo
hhhh
ttt
yy
p

In [80]:
a = 'python'

i = len(a)


while i > 0:
    print(a[i-1] * i)
    i -= 1

nnnnnn
ooooo
hhhh
ttt
yy
p

# Break , continue , pass

# Break 

- It is used to break out of the loop

In [55]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
for i in range(10):
    print(i)
print('Loop completed')

0
1
2
3
4
5
6
7
8
9
Loop completed

In [58]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
for i in range(10):
    if i == 3:
        break
    print(i)
print('Loop completed')

0
1
2
Loop completed

In [61]:
while True:
    a = int(input('Enter a number : '))
    if a == 0:
        break
        
print('Loop completed')

Enter a number : 34
Enter a number : 54
Enter a number : 546
Enter a number : 567
Enter a number : 765
Enter a number : 45
Enter a number : 54
Enter a number : 56
Enter a number : 56
Enter a number : 67
Enter a number : 67
Enter a number : 56
Enter a number : 56
Enter a number : 56
Enter a number : 56
Enter a number : 56
Enter a number : 65
Enter a number : 6
Enter a number : 6756
Enter a number : 6556
Enter a number : 0
Loop completed

# Continue

- It only breaks the current iteration

In [62]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
for i in range(10):
    if i == 3:
        break
    print(i)
print('Loop completed')

0
1
2
Loop completed

In [63]:
for i in range(10):
    if i == 3:
        continue
    print(i)
print('Loop completed')

0
1
2
4
5
6
7
8
9
Loop completed

# Pass

In [65]:
for i in range(10):
    if i == 3:
        pass
    print(i)
print('Loop completed')

0
1
2
3
4
5
6
7
8
9
Loop completed

In [73]:
a = 77


if a > 6 or a <1:
    pass
else:
    if type(a) != int:
        print('Invalid number')
    elif a == 1:
        print('One')
    elif a == 2:
        print('Two')
    elif a == 3:
        print('Three')
    elif a == 4:
        print('Four')
    elif a == 5:
        print('Five')
    elif a == 6:
        print('six')

In [76]:
lst = ['a' , 'b' , 'c' , 'd']


for i in lst:
    if i == 'a':
        print('v1 FA')
    if i == 'b':
        print('v1 FB')
    if i == 'c':
        pass
    if i == 'd':
        print('v1 FD')
        
    if i == 'c':
        print('V2 FC')

v1 FA
v1 FB
V2 FC
v1 FD

In [77]:
lst = ['a' , 'b' , 'c' , 'd']


for i in lst:
    if i == 'a':
        print('v1 FA')
    if i == 'b':
        print('v1 FB')
    if i == 'c':
        continue
    if i == 'd':
        print('v1 FD')
        
    if i == 'c':
        print('V2 FC')

v1 FA
v1 FB
v1 FD

In [78]:
lst = ['a' , 'b' , 'c' , 'd']


for i in lst:
    if i == 'a':
        print('v1 FA')
    if i == 'b':
        print('v1 FB')
    if i == 'c':
        break
    if i == 'd':
        print('v1 FD')
        
    if i == 'c':
        print('V2 FC')

v1 FA
v1 FB

In [ ]:
# CDM
current = 0

- enter the amount which you want to deposite?
20
print('xyz amount is deposited you current balance = 20')


- do you want to deposit again ? y / n

y ---> repeate the whole process from begining
n --> Have a nice day and close the program

In [84]:
bal = 0

while True:
    amt = eval(input('enter the amount : '))
    bal += amt
    print(f"{amt} has been deposited the current balance is {bal}")
    d = input('Do you want to retry ? y/n : ')
    if d == 'y':
        continue
    elif d == 'n': 
        print('Have a nice day')
        break

enter the amount : 45454
45454 has been deposited the current balance is 45454
Do you want to retry ? y/n : y
enter the amount : 10
10 has been deposited the current balance is 45464
Do you want to retry ? y/n : y
enter the amount : 20
20 has been deposited the current balance is 45484
Do you want to retry ? y/n : n
Have a nice day

In [87]:
lst = [34,345,546,56,56,565,45,34,434,34,343,4,34,34,34,34,34,3,43,54,545,65656,5]
od = []

for i in lst:
    if i%2==0:
        pass
    else:
        od.append(i)

In [88]:
od

[345, 565, 45, 343, 3, 43, 545, 5]

In [91]:
def function_1():
    return 1

def function_2():
    return 2

def function_3():
    return 5

def function_4():
    return 4

In [93]:
if function_1() == 1:
    pass
else:
    print('function_1 i logically incorrect')
    
if function_2() == 2:
    pass
else:
    print('function_2 i logically incorrect')
    
if function_3() == 3:
    pass
else:
    print('function_3 i logically incorrect')
    
if function_4() == 4:
    pass
else:
    print('function_4 i logically incorrect')

function_3 i logically incorrect

In [94]:
a = 'python'

In [95]:
for i in a:
    print(i)

p
y
t
h
o
n

In [98]:
i = 0

while i < len(a):
    print(a[i])
    i += 1

p
y
t
h
o
n