In [7]:
import pandas as pd

d = {'day': {0: '1/1/2017',
  1: '1/2/2017',
  2: '1/03/2017',
  3: '1/4/2017',
  4: '1/05/2017',
  5: '1/6/2017'},
 'temperature': {0: 32, 1: 35, 2: 28, 3: 24, 4: 32, 5: 31},
 'windspeed': {0: 45, 1: 25, 2: 66, 3: 7, 4: 18, 5: 35},
 'event': {0: 'Rain', 1: 'Sunny', 2: 'Snow', 3: 'Snow', 4: 'Rain', 5: 'Sunny'}}


df = pd.DataFrame(d)

df

         day  temperature  windspeed  event
0   1/1/2017           32         45   Rain
1   1/2/2017           35         25  Sunny
2  1/03/2017           28         66   Snow
3   1/4/2017           24          7   Snow
4  1/05/2017           32         18   Rain
5   1/6/2017           31         35  Sunny

In [13]:
df['month'] = list(map((lambda x: x.split('/')[1]) , df['day']))

df

         day  temperature  windspeed  event month
0   1/1/2017           32         45   Rain     1
1   1/2/2017           35         25  Sunny     2
2  1/03/2017           28         66   Snow    03
3   1/4/2017           24          7   Snow     4
4  1/05/2017           32         18   Rain    05
5   1/6/2017           31         35  Sunny     6

In [6]:
import pandas as pd

d = {'Car ID': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5},
 'Brand': {0: 'Toyota', 1: 'Honda', 2: 'Ford', 3: 'Chevrolet', 4: 'Hyundai'},
 'Model': {0: 'Camry', 1: 'Civic', 2: 'Focus', 3: 'Cruze', 4: 'Elantra'},
 'Year': {0: 2018, 1: 2019, 2: 2017, 3: 2016, 4: 2018},
 'Color': {0: 'White', 1: 'Blue', 2: 'Silver', 3: 'Red', 4: 'Black'},
 'Mileage': {0: 45000, 1: 35000, 2: 55000, 3: 60000, 4: 40000},
 'Price': {0: 18000, 1: 16000, 2: 14000, 3: 12000, 4: 15000},
 'Location': {0: 'Los Angeles',
  1: 'New York',
  2: 'Chicago',
  3: 'Miami',
  4: 'San Francisco'}}


df_2 = pd.DataFrame(d)

df_2

   Car ID      Brand    Model  Year   Color  Mileage  Price       Location
0       1     Toyota    Camry  2018   White    45000  18000    Los Angeles
1       2      Honda    Civic  2019    Blue    35000  16000       New York
2       3       Ford    Focus  2017  Silver    55000  14000        Chicago
3       4  Chevrolet    Cruze  2016     Red    60000  12000          Miami
4       5    Hyundai  Elantra  2018   Black    40000  15000  San Francisco

In [27]:
list(map((lambda x,y: f"{x}_{y}") , df_2['Brand'] , df_2['Model']))

['Toyota_Camry',
 'Honda_Civic',
 'Ford_Focus',
 'Chevrolet_Cruze',
 'Hyundai_Elantra']

# Modules
- A python file with .py as an extension

Types of modules
1. Builtin modules - datetime , os , sys , random , math
2. user defined modules - 


Modular coding

Flipkart --> payments

COD
debit
credi
onli
upi

In [29]:
df_2

   Car ID      Brand    Model  Year   Color  Mileage  Price       Location
0       1     Toyota    Camry  2018   White    45000  18000    Los Angeles
1       2      Honda    Civic  2019    Blue    35000  16000       New York
2       3       Ford    Focus  2017  Silver    55000  14000        Chicago
3       4  Chevrolet    Cruze  2016     Red    60000  12000          Miami
4       5    Hyundai  Elantra  2018   Black    40000  15000  San Francisco

In [30]:
def adder(a,b):
    return a+b

In [31]:
adder(10,20)

30

# Importing a module

In [1]:
# Global name space , variable memory , stack mem

print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'open', 'quit']

In [2]:
a = 10

In [3]:
print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i2', '_i3', '_ih', '_ii', '_iii', '_oh', 'a', 'exit', 'get_ipython', 'open', 'quit']

In [4]:
a

10

In [5]:
b

NameError: name 'b' is not defined

In [6]:
def adder(a,b):
    return a+b

In [7]:
print(dir())

['In', 'Out', '_', '_4', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i2', '_i3', '_i4', '_i5', '_i6', '_i7', '_ih', '_ii', '_iii', '_oh', 'a', 'adder', 'exit', 'get_ipython', 'open', 'quit']

# 1st method

In [1]:
print(dir() ,end = '\n\n\n')


import math


print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'open', 'quit']


['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'math', 'open', 'quit']

In [2]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [3]:
math.sqrt(9)

3.0

In [4]:
print(dir())

['In', 'Out', '_', '_3', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i2', '_i3', '_i4', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'math', 'open', 'quit']

# 2nd method

In [1]:
print(dir() ,end = '\n\n\n')


import math


print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'open', 'quit']


['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'math', 'open', 'quit']

In [1]:
print(dir() ,end = '\n\n\n')


from math import *


print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'open', 'quit']


['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exit', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'get_ipython', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'open', 'perm', 'pi', 'pow', 'prod', 'quit', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [3]:
sqrt(9)

3.0

# 3rd method

In [1]:
print(dir() ,end = '\n\n\n')


from math import sqrt


print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'open', 'quit']


['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'open', 'quit', 'sqrt']

In [3]:
print(dir() ,end = '\n\n\n')


from math import sqrt,tan,sin


print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i2', '_i3', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'open', 'quit', 'sqrt']


['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i2', '_i3', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'open', 'quit', 'sin', 'sqrt', 'tan']

In [2]:
sqrt(9)

3.0

# Aliasing

In [1]:
print(dir() ,end = '\n\n\n')


import math as mt


print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'open', 'quit']


['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'mt', 'open', 'quit']

In [2]:
mt.sqrt(9)

3.0

# User defined module

In [1]:
print(dir() ,end = '\n\n\n')


import credit_card_module as ccm


print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'open', 'quit']


['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_ih', '_ii', '_iii', '_oh', 'ccm', 'exit', 'get_ipython', 'open', 'quit']

In [2]:
print(dir(ccm))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'adder', 'palindrom']

In [3]:
ccm.adder(10,20)

30

# Giving the user defined path

In [1]:
import credit_card_module as ccm

ModuleNotFoundError: No module named 'credit_card_module'

In [2]:
import sys
print(sys.path)

['C:\\Users\\Mohammed Israr\\Desktop\\Ongoing classes\\17_Nov_Weekday', 'C:\\Users\\Mohammed Israr\\anaconda3\\python311.zip', 'C:\\Users\\Mohammed Israr\\anaconda3\\DLLs', 'C:\\Users\\Mohammed Israr\\anaconda3\\Lib', 'C:\\Users\\Mohammed Israr\\anaconda3', '', 'C:\\Users\\Mohammed Israr\\anaconda3\\Lib\\site-packages', 'C:\\Users\\Mohammed Israr\\anaconda3\\Lib\\site-packages\\win32', 'C:\\Users\\Mohammed Israr\\anaconda3\\Lib\\site-packages\\win32\\lib', 'C:\\Users\\Mohammed Israr\\anaconda3\\Lib\\site-packages\\Pythonwin']

In [3]:
new_path = 'C:\\Users\\Mohammed Israr\\Desktop\\flipkart_modules'

In [4]:
sys.path.append(new_path)

In [5]:
print(sys.path)

['C:\\Users\\Mohammed Israr\\Desktop\\Ongoing classes\\17_Nov_Weekday', 'C:\\Users\\Mohammed Israr\\anaconda3\\python311.zip', 'C:\\Users\\Mohammed Israr\\anaconda3\\DLLs', 'C:\\Users\\Mohammed Israr\\anaconda3\\Lib', 'C:\\Users\\Mohammed Israr\\anaconda3', '', 'C:\\Users\\Mohammed Israr\\anaconda3\\Lib\\site-packages', 'C:\\Users\\Mohammed Israr\\anaconda3\\Lib\\site-packages\\win32', 'C:\\Users\\Mohammed Israr\\anaconda3\\Lib\\site-packages\\win32\\lib', 'C:\\Users\\Mohammed Israr\\anaconda3\\Lib\\site-packages\\Pythonwin', 'C:\\Users\\Mohammed Israr\\Desktop\\flipkart_modules']

In [6]:
import credit_card_module as ccm

In [7]:
ccm.adder(12,12)

24

# __name__

In [1]:
import credit_card_module as ccm

30

In [1]:
def adder(a,b):
    '''This function adds 2 numbers'''
    return a+b

def palindrom(x):
    '''This function returns is a word is palindrom or not'''
    if x == x[::-1]:
        return 'Palindrom'
    else:
        return 'Not a palindrom'
    
if __name__ == '__main__':    
    a = 10
    b = 20

    print(a +b)

30

In [1]:
import credit_card_module as ccm

In [1]:
import credit_card_module as ccm

30
hello world

In [1]:
import credit_card_module as ccm

In [2]:
def adder(a,b):
    '''This function adds 2 numbers'''
    return a+b

def palindrom(x):
    '''This function returns is a word is palindrom or not'''
    if x == x[::-1]:
        return 'Palindrom'
    else:
        return 'Not a palindrom'
    

    
if __name__ == '__main__':    
    a = 10
    b = 20
    print(a +b)
    print('hello world')

30
hello world

In [1]:
import credit_card_module as ccm

In [5]:
def adder(a,b):
    '''This function adds 2 numbers'''
    return a+b+1

def palindrom(x):
    '''This function returns is a word is palindrom or not'''
    if x == x[::-1]:
        return 'Palindrom'
    else:
        return 'Not a palindrom'
    

    
if __name__ == '__main__':    
    if adder(10,20) == 30:
        pass
    else:
        print('Adder has a logical error')
        
    if palindrom('level') == 'Palindrom':
        pass
    else:
        print('Palindrom has a logical error')

Adder has a logical error

In [ ]:
'do this' if codition else 'do this'

In [ ]:
'do this' if codition 'op2' if condition else 'do this'