In [17]:
# Task 1

a = 'aaaaabbbbaacccccdddddd'
b = set(a)
x = ''

for i in b:
    c = a.count(i)
    r = i+str(c)
    x += r

In [18]:
x

'a7d6b4c5'

In [14]:
x = ''

x += 'a7'

x

'a7'

In [19]:
# Task 1

a = 'aaaaabbbbaacccccdddddd'
b = set(a)
x = ''

for i in b:
    x += f"{i}{a.count(i)}"
    
x

'a7d6b4c5'

In [26]:
# Task2 

col_1 = ['xyz' , 'abc' , 'pqr']
col_2 = ['gmail.com' , 'yahoo.com' , 'outlook.com']
e_list = []

for i in range(len(col_1)):
    e_list.append(col_1[i] + '@' + col_2[i])
    
e_list

['xyz@gmail.com', 'abc@yahoo.com', 'pqr@outlook.com']

In [ ]:
output --> xyz@gmail.com , abc@yahoo.com , pqr@outlook.com

In [29]:
# Task 4

mark = [66 , 56 , 78 , 20 , 99 , 111]
total_marks = [80 , 100 , 120 , 90 , 100 , 120]

percentage = []


# For

for i in range(len(mark)):
    percentage.append( round((mark[i]/total_marks[i])* 100 , 1) )
    
print(percentage)

[82.5, 56.0, 65.0, 22.2, 99.0, 92.5]

In [31]:

col_1 = ['xyz' , 'abc' , 'pqr','lmn']
col_2 = ['gmail.com' , 'yahoo.com' , 'outlook.com']

list(zip(col_1 , col_2))

[('xyz', 'gmail.com'), ('abc', 'yahoo.com'), ('pqr', 'outlook.com')]

In [ ]:
# # Task - 3

# a = 'aaaaabbbbaacccccdddddd'

# # a5b4a2c5d6

# Dictionary

In [32]:
a = {'a':67 , 'b':89 , 'c':87}


print(a , type(a))

{'a': 67, 'b': 89, 'c': 87} <class 'dict'>

# Different methods to create a dic

In [33]:
# If you already know the elements

a = {'a':67 , 'b':89 , 'c':87}


print(a , type(a))

{'a': 67, 'b': 89, 'c': 87} <class 'dict'>

In [35]:
# Taking an user input

a = eval(input('Enter a dic : '))


print(a , type(a))

Enter a dic : {'name' : 'xyz' , 'a' :34}
{'name': 'xyz', 'a': 34} <class 'dict'>

In [38]:
# Type casting

a = dict('abc')


print(a , type(a))

ValueError: dictionary update sequence element #0 has length 1; 2 is required

#### Note

dict funct takes an input in a form of seq inside a seq

In [39]:
a = [('a',100) , ['b',200] , ('c',300)]


print(a , type(a))

[('a', 100), ['b', 200], ('c', 300)] <class 'list'>

In [40]:
a = dict([('a',100) , ['b',200] , ('c',300)])


print(a , type(a))

{'a': 100, 'b': 200, 'c': 300} <class 'dict'>

# 4th methods - zip

In [41]:
a = ['xyz' , 'abc' , 'pqr']
b = [29 , 38 , 25]

In [42]:
dict(a , b)

TypeError: dict expected at most 1 argument, got 2

In [44]:
a = ['xyz' , 'abc' , 'pqr']
b = [29 , 38 , 25]



list(zip(a,b))

[('xyz', 29), ('abc', 38), ('pqr', 25)]

In [45]:
a = ['xyz' , 'abc' , 'pqr']
b = [29 , 38 , 25]


dict(zip(a,b))

{'xyz': 29, 'abc': 38, 'pqr': 25}

In [62]:
a = ['xyz' , 'abc' , ['pqr','a']]
b = [29 , 38 , 25]


dict(zip(a,b))

TypeError: unhashable type: 'list'

In [48]:
a = ['xyz' , 'abc' , 'pqr']
b = [29 , 38 , 25]
c = ['dev','prod' ,'qa']


list(zip(a,b,c))

[('xyz', 29, 'dev'), ('abc', 38, 'prod'), ('pqr', 25, 'qa')]

In [52]:
a = ['xyz' , 'abc' , 'pqr']
b = [29 , 38 , 25]
c = ['dev','prod' ,None]


dict(zip(a,zip(b,c)))

{'xyz': (29, 'dev'), 'abc': (38, 'prod'), 'pqr': (25, None)}

In [ ]:
name = input("Enter your name: ")
mobile_no = int(input("Enter mobile number: "))

my_dict = {
    'name': name,
    'mobile': mobile_no
} 

print(my_dict)

In [ ]:
name = input("Enter your name: ")
mobile_no = int(input("Enter mobile number: "))

a = ["name" , 'mobile']
b = [name , mobile_no]

my_dict = dict(zip(a,b))

print(my_dict)

# Properties of dict

- A key and a value together are called as an item
- each items are seperated by(,)
- a key and a value are seperated by (:)
- Items are written inside {}
- It is not a seq data type
- It is a structured data type
- A key cannot be duplicated
- A value can be duplicated
- A key can only be an immutable data type
- where as a value can be mutable / immuable
- It is not a seq data type hence you cannot perform indexing , slicing , concatination , repetation
- Membership op are possible but only on the key

##### Note:- A dict is an mutable data type

In [53]:
# It is not a seq data type

d = {'name':'xyz' , 'age':23 , 'salary':5464564565}

d[0]

KeyError: 0

In [54]:
# It is not a seq data type

d = {'name':'xyz' , 'age':23 , 'salary':5464564565}

d[0:]

TypeError: unhashable type: 'slice'

In [55]:
# 

d = {'name':'xyz' , 'age':23 , 'salary':5464564565}
a = {'add':3454545}

d+a

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [56]:
d = {'name':'xyz' , 'age':23 , 'salary':5464564565}
a = 4

d * a

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [57]:

d = {'name':'xyz' , 'age':23 , 'salary':5464564565}

d[0]

KeyError: 0

In [59]:

d = {'name':'xyz' , 'age':23 , 'salary':5464564565}

print(d['name'])

print(d['salary'])

xyz
5464564565

In [60]:
# - A key cannot be duplicated
# - A value can be duplicated


d = {'name':'xyz' , 'age':23 , 'salary':5464564565 , 'name':'abc'}

d

{'name': 'abc', 'age': 23, 'salary': 5464564565}

In [61]:
# - A key cannot be duplicated
# - A value can be duplicated


d = {'name':'xyz' , 'age':23 , 'salary':5464564565 , 'sec_name':'xyz'}

d

{'name': 'xyz', 'age': 23, 'salary': 5464564565, 'sec_name': 'xyz'}

In [ ]:
# - A key can only be an immutable data type
# - where as a value can be mutable / immuable


d = {'name':'xyz' , 'age':23 , 'salary':5464564565 , 'sec_name':'xyz'}

d

In [ ]:
immutable --> key

int
float
complex
Bool
None
str
tuple


mutable -- cannot be taken as a key
list
dict
set

In [67]:
d = {(23,34,45):'xyz' , 'age':23 , 'salary':5464564565 , 'sec_name':'xyz'}

d

{(23, 34, 45): 'xyz', 'age': 23, 'salary': 5464564565, 'sec_name': 'xyz'}

In [68]:

d = {[2,3,4]:'xyz' , 'age':23 , 'salary':5464564565 , 'sec_name':'xyz'}

d

TypeError: unhashable type: 'list'

In [69]:

d = {{2,3,4}:'xyz' , 'age':23 , 'salary':5464564565 , 'sec_name':'xyz'}

d

TypeError: unhashable type: 'set'

In [70]:

d = {{'a':32}:'xyz' , 'age':23 , 'salary':5464564565 , 'sec_name':'xyz'}

d

TypeError: unhashable type: 'dict'

In [71]:
d = {'name':'xyz' , 'age':[23,45] , 'salary':5464564565 , 'sec_name':'xyz'}

d

{'name': 'xyz', 'age': [23, 45], 'salary': 5464564565, 'sec_name': 'xyz'}

In [73]:
d = {'name':'xyz' , 'age':{'old':34 , 'new':45} , 'salary':5464564565 }

d

{'name': 'xyz', 'age': {'old': 34, 'new': 45}, 'salary': 5464564565}

In [74]:
len(s)

NameError: name 's' is not defined

In [75]:
emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':35 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':38 , 'salary':6786765765 }}

emp_data

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 35, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 38, 'salary': 6786765765}}

In [77]:
len(emp_data)

5

In [78]:
# Mem key

d = {'name':'xyz' , 'age':34 , 'salary':5464564565 }

'xyz' in d

False

In [79]:
emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':35 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':38 , 'salary':6786765765 }}

'Anshul' in emp_data

False

In [80]:
emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':35 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':38 , 'salary':6786765765 }}

emp_data['emp_2']['age']

34

In [ ]:
emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}


# extract the name of emp whose age >= 30