# For loop

In [ ]:
syntax

for var in iterable:
    stat1
    stat2
    stat3
    stat4

In [23]:
True = 100

i,j,k

SyntaxError: cannot assign to True (1488504101.py, line 1)

In [18]:
print('Hi')
print('Hi')
print('Hi')
print('Hi')
print('Hi')
print('Hi')

Hi
Hi
Hi
Hi
Hi
Hi

In [ ]:
# iterable- How to identify any data type as an iterable

1. If the len function is applicable 

2. print(dir(object)) ---> __iter__

In [24]:
len('python')

6

In [26]:
len(['python' , 'data' , 'hello'])

3

In [27]:
len(3434)

TypeError: object of type 'int' has no len()

In [28]:
len('3434')

4

In [32]:
print(dir(complex))

['__abs__', '__add__', '__bool__', '__class__', '__complex__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'conjugate', 'imag', 'real']

In [35]:
a = 'hello'


print(len(a))

for var in a:
    print('hello world')

5
python
python
python
python
python

In [ ]:
for iteration 1 --> var = h
hello world

for iteration 2 var = e
hello world

for iteration 3 var = l
hello world
.
.
for iteration 5 var = o
hello world

In [39]:
a = 'hello'


print(len(a))

for var in a:
    print('hello world')

5
hello world
hello world
hello world
hello world
hello world

In [38]:
a = ['hello' , 'world']


print(len(a))

for var in a:
    print('statement execution')

2
statement execution
statement execution

In [ ]:
a = ['hello' , 'world']


print(len(a))

for var in a:
    print('statement execution')

In [41]:
a = '123'


for var in a:
    print(var , 'HI')

1 HI
2 HI
3 HI

In [ ]:
var --> '1'
'1' HI

var --> '2'
'2' HI

var --> '3'
'3' HI

In [43]:

for var in range(1,11):
    print('hello' , var)

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [42]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:

for var in range(1,11):
    print(var * 2)

2
4
6
8
10
12
14
16
18
20

In [46]:
a = ['hello' , 'world' , ['a' , 'b' , 'c']]


print(len(a))

for var in a:
    print('statement execution' , var)

3
statement execution hello
statement execution world
statement execution ['a', 'b', 'c']

In [47]:

for var in range(1,11):
    print(var * 2)

2
4
6
8
10
12
14
16
18
20

In [48]:

for var in range(1,11):
    print(2 ,'*',var,'=',var * 2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [49]:

for i in range(1,11):
    print(f"2  *   {i}  =   {i*2}")

2  *   1  =   2
2  *   2  =   4
2  *   3  =   6
2  *   4  =   8
2  *   5  =   10
2  *   6  =   12
2  *   7  =   14
2  *   8  =   16
2  *   9  =   18
2  *   10  =   20

In [62]:
num = int(input())

for i in range(1,11):
    print(f"{num}  *   {i}  =   {i*num}")

8
8  *   1  =   8
8  *   2  =   16
8  *   3  =   24
8  *   4  =   32
8  *   5  =   40
8  *   6  =   48
8  *   7  =   56
8  *   8  =   64
8  *   9  =   72
8  *   10  =   80

In [64]:
'6'*5

'66666'

In [63]:
a = [3,4,5,6,7,3,5,6,7,8]

for i in a:
    print(i*2)

6
8
10
12
14
6
10
12
14
16

In [66]:
a = [3,4,5,6,7,3,5,6,7,8]
b = []

for i in a:
    print(i*2)
    b.append(i*2)

6
8
10
12
14
6
10
12
14
16

In [67]:
b

[6, 8, 10, 12, 14, 6, 10, 12, 14, 16]

In [73]:
cel = [23,34,38,36,40]
far = []

for T in cel:
    far.append((T * (9/5))+32)
print(far)

[73.4, 93.2, 100.4, 96.8, 104.0]

In [77]:
lst = [23,324,34,45,45,564,56,56,56,6767,67,76,67,76,567,56]
even = []
odd = []

for i in lst:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

In [78]:
even

[324, 34, 564, 56, 56, 56, 76, 76, 56]

In [79]:
odd

[23, 45, 45, 6767, 67, 67, 567]

In [91]:
a = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com', 'Chandan@hotmail.com',
       'xyz@gmail.com' , 'akanksha@gmail.com']

user_name = []

for i in a:
    user_name.append(i.split('@')[0])

In [92]:
user_name

['Sriram', 'Abhijeet', 'Abhishek', 'Chandan', 'xyz', 'akanksha']

In [94]:
a = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com', 'Chandan@hotmail.com',
       'xyz@gmail.com' , 'akanksha@gmail.com']

gmail = []

for i in a:
    if 'gmail.com' in i:
        gmail.append(i)
        
print(gmail)

['Sriram@gmail.com', 'Abhishek@gmail.com', 'xyz@gmail.com', 'akanksha@gmail.com']

# List comprehension

- Reduce the no of line in the code

syntax

for var in iterable:
    stat
    stat
    
[expression for var in iterable]

In [96]:
a = [3,4,5,6,7,3,5,6,7,8]
b = []

for i in a:
    b.append(i*2)
    
b

[6, 8, 10, 12, 14, 6, 10, 12, 14, 16]

In [97]:
a = [3,4,5,6,7,3,5,6,7,8]
b = [i * 2 for i in a]

b

[6, 8, 10, 12, 14, 6, 10, 12, 14, 16]

In [98]:
cel = [23,34,38,36,40]
far = []

for T in cel:
    far.append((T * (9/5))+32)
    
print(far)

[73.4, 93.2, 100.4, 96.8, 104.0]

In [99]:
cel = [23,34,38,36,40]
far = [(T * (9/5))+32 for T in cel]

print(far)

[73.4, 93.2, 100.4, 96.8, 104.0]

In [100]:
a = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com', 'Chandan@hotmail.com',
       'xyz@gmail.com' , 'akanksha@gmail.com']

user_name = []

for i in a:
    user_name.append(i.split('@')[0])
    
print(user_name)

['Sriram', 'Abhijeet', 'Abhishek', 'Chandan', 'xyz', 'akanksha']

In [101]:
a = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com', 'Chandan@hotmail.com',
       'xyz@gmail.com' , 'akanksha@gmail.com']

user_name = [i.split('@')[0] for i in a]


print(user_name)

['Sriram', 'Abhijeet', 'Abhishek', 'Chandan', 'xyz', 'akanksha']

In [102]:
lst = [23,324,34,45,45,564,56,56,56,6767,67,76,67,76,567,56]
even = []

for i in lst:
    if i%2==0:
        even.append(i)
        
print(even)

[324, 34, 564, 56, 56, 56, 76, 76, 56]

In [105]:
lst = [23,324,34,45,45,564,56,56,56,6767,67,76,67,76,567,56]
even = [i for i in lst if i%2==0 ]
odd = [i for i in lst if i%2!=0 ]

        
print(even)
print(odd)

[324, 34, 564, 56, 56, 56, 76, 76, 56]
[23, 45, 45, 6767, 67, 67, 567]

In [106]:
a = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com', 'Chandan@hotmail.com',
       'xyz@gmail.com' , 'akanksha@gmail.com']

gmail = []

for i in a:
    if 'gmail.com' in i:
        gmail.append(i)
        
print(gmail)

['Sriram@gmail.com', 'Abhishek@gmail.com', 'xyz@gmail.com', 'akanksha@gmail.com']

In [107]:
a = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com', 'Chandan@hotmail.com',
       'xyz@gmail.com' , 'akanksha@gmail.com']

gmail = [i for i in a if 'gmail.com' in i]

print(gmail)

['Sriram@gmail.com', 'Abhishek@gmail.com', 'xyz@gmail.com', 'akanksha@gmail.com']

In [108]:
a = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com', 'Chandan@hotmail.com',
       'xyz@gmail.com' , 'akanksha@gmail.com']

gmail = [i for i in a if 'gmail.com' not in i]

print(gmail)

['Abhijeet@yahoo.com', 'Chandan@hotmail.com']

In [114]:
a = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com', 'Chandan@hotmail.com',
       'xyz@gmail.com' , 'akanksha@gmail.com']

gmail = [i for i in a if i[0].isupper()]

print(gmail)

['Sriram@gmail.com', 'Abhijeet@yahoo.com', 'Abhishek@gmail.com', 'Chandan@hotmail.com']

In [113]:
'do this ' if condition else 'do this'

if cont:
    do this
else:
    do this

In [115]:
a = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com', 'Chandan@hotmail.com',
       'xyz@gmail.com' , 'akanksha@gmail.com']

gmail = [i for i in a if (i[0].isupper()) and ('gmail' in i)]

print(gmail)

['Sriram@gmail.com', 'Abhishek@gmail.com']

# Dictionary

In [120]:
mark = [66 , 56 , 78 , 20 , 99 , 111]
percentage = []

# Consider total marks as 120

# For

for i in mark:
    percentage.append( round((i/120)* 100 , 1) )
    
print(percentage)

# List comprehesion

percentage = [round((i/120)* 100 , 1) for i in mark]
    
print(percentage)

[55.0, 46.7, 65.0, 16.7, 82.5, 92.5]
[55.0, 46.7, 65.0, 16.7, 82.5, 92.5]