In [6]:
# Task - Solve by Mondays class, By using loop only

lst = [['Sriram' , 29] ,  ['Mithun' , 37] , ['Chetan' , 27]  , ['Jayanth',37] , ['Santhosh' ,25] , ['Ashok' , 40]]



output:- ['Santhosh' ,25] ,  ['Chetan' , 27] , ['Sriram' , 29] , ['Jayanth',37] , ['Mithun' , 37] , ['Ashok' , 40]

# Functions

In [7]:
# Task1 

x = 'rotor'

if x == x[::-1]:
    print('Palindrom')
else:
    print('Not a palindrom')

# Task 2

a = 23
b = 34

print(a + b)

# Task 3
x = 'python'

if x == x[::-1]:
    print('Palindrom')
else:
    print('Not a palindrom')

# Task 4
a = 40
b = 50

print(a + b)

Palindrom
57
Not a palindrom
90

In [ ]:
# best practice

- Code should be understandable
- code should as min lines as possible

In [ ]:
# Syntax of a function

1. Function defination --> we define the code
2. Function call --> We execute the code


syntax:
    
1. Function defination
    
def function_name(parameters):
    stat1
    stat2
    stat3
    stat3
    return stat4
    
2. Function call

function_name(arguments)
    

# Things which are optional
- parameters
- return ----> By default every function returns None

#### Note:- If parameters are given then it is very important to pass the arguments

In [10]:
a = 40
b = 50

print(a + b)

90

In [11]:
# Function defination

def adder():
    print(40 + 50)

In [14]:
# Function call

adder()
adder()
adder()
adder()
adder()
adder()

90
90
90
90
90
90

In [16]:
def adder(n1 , n2):
    print(n1 + n2)

In [20]:
adder(10 , 20)
adder(10 , 10)
adder(30 , 20)

30
20
50

In [21]:
def palindrom(x):
    if x == x[::-1]:
        print('Palindrom')
    else:
        print('Not a palindrom')

In [24]:
palindrom('level')
palindrom('python')
palindrom('malayalam')

Palindrom
Not a palindrom
Palindrom

In [25]:
def palindrom(x):
    '''This is a function
    that will print a word is palindrom or not'''
    if x == x[::-1]:
        print('Palindrom')
    else:
        print('Not a palindrom')

In [ ]:
palindrom('level')

# Types of arguments

- positional arguments
- keyword arguments
- default arguments
- variable length args

# positional arguments


- order is important
- num of args should be equal to the no parameters

In [29]:
def emp_info(name , age , salary):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    
    
emp_info('xyz' , 34 , 4875634875)

Age :  34
Salary :  4875634875
Name :  xyz

In [30]:
# order is important

def emp_info(name , age , salary):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    
    
emp_info(34 , 4875634875 , 'xyz' )

Age :  4875634875
Salary :  xyz
Name :  34

In [31]:
# num of args should be equal to the no parameters

def emp_info(name , age , salary):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    
    
emp_info(34 , 4875634875  )

TypeError: emp_info() missing 1 required positional argument: 'salary'

# Keyword arguments

In [32]:
def emp_info(name , age , salary):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    
    
emp_info(name = 'xyz' , age = 34 , salary= 4875634875)

Age :  34
Salary :  4875634875
Name :  xyz

In [33]:
def emp_info(name , age , salary):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    
    
emp_info( age = 34 , salary= 4875634875 , name = 'xyz' )

Age :  34
Salary :  4875634875
Name :  xyz

In [34]:
def emp_info(name , age , salary):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    
    
emp_info('xyz' ,age = 34 , salary= 4875634875 )

Age :  34
Salary :  4875634875
Name :  xyz

In [35]:
def emp_info(name , age , salary):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    
    
emp_info(age = 34 , salary= 4875634875 , 'xyz')

SyntaxError: positional argument follows keyword argument (2791976093.py, line 7)

# Note: positional argument follows keyword argument

In [36]:
def emp_info(name , age , salary):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    
    
emp_info('xyz' ,age = 34 , salary= 4875634875 )

Age :  34
Salary :  4875634875
Name :  xyz

In [37]:
def emp_info(name , age , salary):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    
    
emp_info('xyz' ,4545455345345,age = 34 )

TypeError: emp_info() got multiple values for argument 'age'

In [38]:
def emp_info(name , age , salary):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    
    
emp_info('xyz' , age = 34 , 4545455345345 )

SyntaxError: positional argument follows keyword argument (1581093918.py, line 7)

In [39]:
def emp_info(name , age , salary):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    
    
emp_info('xyz' , age = 34 , salary= 4545455345345 )

Age :  34
Salary :  4545455345345
Name :  xyz

# Default arguments

In [56]:
def emp_info(name , age , salary , location = 'GOA' , pin = 454545):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    print('location : ' , location)
    print('pin : ' , pin)
    
    
emp_info('xyz' , 34 , 56565466)

Age :  34
Salary :  56565466
Name :  xyz
location :  GOA
pin :  454545

In [57]:
def emp_info(name , age , salary , location = 'GOA' , pin = 454545):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    print('location : ' , location)
    print('pin : ' , pin)
    
    
emp_info('xyz' , 34 , 56565466 , 'Bang' , 5654645)

Age :  34
Salary :  56565466
Name :  xyz
location :  Bang
pin :  5654645

In [58]:
def emp_info(name , age , salary , location = 'GOA' , pin = 454545):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    print('location : ' , location)
    print('pin : ' , pin)
    
    
emp_info('xyz' , 34 , 56565466 , location= 'Bang' , pin= 5654645)

Age :  34
Salary :  56565466
Name :  xyz
location :  Bang
pin :  5654645

In [59]:
def emp_info(name , age , salary , location = 'GOA' , pin = 454545):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    print('location : ' , location)
    print('pin : ' , pin)
    
    
emp_info('xyz' , 34 , 56565466 ,  pin= 5654645)

Age :  34
Salary :  56565466
Name :  xyz
location :  GOA
pin :  5654645

In [60]:
def emp_info(location = 'GOA' , pin = 454545 , name , age , salary ):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    print('location : ' , location)
    print('pin : ' , pin)
    
    
emp_info('xyz' , 34 , 56565466 ,  pin= 5654645)

SyntaxError: non-default argument follows default argument (3197550454.py, line 1)

In [61]:
def emp_info(name , age , salary , location = 'GOA' , pin = 454545):
    print('Age : ' ,age )
    print('Salary : ' , salary)
    print('Name : ' , name)
    print('location : ' , location)
    print('pin : ' , pin)
    
    
emp_info(pin= 5654645 , 'xyz' , 34 , 56565466 )

SyntaxError: positional argument follows keyword argument (2964365383.py, line 9)

In [62]:
def temp_day(temp, humidity, time = "00:00", prediction= None):
    """please Enter the temp in degree celcius"""
    print("temp: ",temp)
    print("humidity: ",humidity)
    print("time: ",time)
    print("prediction: ",prediction)

    
temp_day(45 , 56 , prediction= 'Rainy')

temp:  45
humidity:  56
time:  00:00
prediction:  Rainy

# Variable length args

(*args, **kwargs)


*args ---> Takes the variable length position arguments and store it in the for of tuple

**kwargs --> Takes the variable length keyword arguments and store it in the for of dict

In [63]:
def adder(a , b):
    print(a + b)

In [66]:
adder(10,20)

30

In [67]:
def adder(*args):
    print(args , type(args))

In [69]:
adder(10,20,34,45,56,657,67,67,6767,56,56,5656,56,5656,67,67,67)

(10, 20, 34, 45, 56, 657, 67, 67, 6767, 56, 56, 5656, 56, 5656, 67, 67, 67) <class 'tuple'>

In [70]:
def adder(*args):
    print(sum(args))

In [72]:
adder(10,20,1,1,2,1,1,1)

37

In [74]:
def adder(*a):
    print(a , type(a))

In [77]:
adder(10,20 , 43.54,1,1,2,1,1,1)

(10, 20, 43.54, 1, 1, 2, 1, 1, 1) <class 'tuple'>

In [78]:
def adder(**kwargs):
    print(kwargs , type(kwargs))

In [79]:
adder(name = 'xyz' , age = 34)

{'name': 'xyz', 'age': 34} <class 'dict'>

In [80]:
def adder(*args , **kwargs):
    print(args , type(args))
    print(kwargs , type(kwargs))

In [83]:
adder(234,34,45,45,56 ,  'xyz' , age = 43)

(234, 34, 45, 45, 56, 'xyz') <class 'tuple'>
{'age': 43} <class 'dict'>

# Task 2

In [84]:

emp_data = {'emp_1' : {'name':'Salahudin' , 'age':45 , 'salary':5464564565 },
           'emp_2' : {'name':'Sriram' , 'age':34 , 'salary':5656546546 } ,
           'emp_3' : {'name':'Abhishek' , 'age':28 , 'salary':7675675676 },
           'emp_4' : {'name':'Anshul' , 'age':27 , 'salary':6878678687 },
           'emp_5' : {'name':'Nabia' , 'age':25 , 'salary':6786765765 }}

In [86]:

def emp_adder(name , age , salary):
    key = f"emp_{len(emp_data)+1}"
    emp_data.setdefault(key , {'name':name , 'age':age , 'salary':salary})

In [91]:
emp_adder('abc' , 34 , 67567567 , loc = 'goa' , pan = 343)

TypeError: emp_adder() got an unexpected keyword argument 'loc'

In [90]:
emp_data

{'emp_1': {'name': 'Salahudin', 'age': 45, 'salary': 5464564565},
 'emp_2': {'name': 'Sriram', 'age': 34, 'salary': 5656546546},
 'emp_3': {'name': 'Abhishek', 'age': 28, 'salary': 7675675676},
 'emp_4': {'name': 'Anshul', 'age': 27, 'salary': 6878678687},
 'emp_5': {'name': 'Nabia', 'age': 25, 'salary': 6786765765},
 'emp_6': {'name': 'xyz', 'age': 34, 'salary': 67567567},
 'emp_7': {'name': 'abc', 'age': 34, 'salary': 67567567}}

# Return

In [ ]:
tries = 0
Intial_Balance=1000 
current_balance=int(a+Intial_Balance) 

while True:
    tries = tries+1
    a=int(input('Enter the amount you want to deposit in No Rs:')) 
    print(f"You have deposied Rs {a} and current_balance is Rs {current_balance}") 
    print("If you want to deposit again pls press 'y' or else pls press'n': ") 
    Decision=str(input()).lower()
    if (Decision == 'y') and (tries <= 5):
        continue
    else:
        print('Message')
        break