In [1]:
a = 10
b = 20


print(a + b)

30

In [3]:
a = 10
b = 20

print(a + b)

30

In [ ]:
# 2 Types of cells 

- coding cell -Can write 
- markdown cell

In [4]:
a = 10
b = 20

print(a + b)

30

a = 10
b = 20

print(a + b)

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5

1. Point 1
2. Point 2


- point 3
* point 4
- point 5

# Data types


1. Fundamental -Basic data types
- int - Any number without a decimal point eg:- -99 , 0 , 99
- float - Any number with a decimal point eg:- -99.0 , 0.34 , 99.454
- complex - Any number that can be represented in a+bj , where a is the real number and b is the imag
- bool - True / False
- None - Null
- string - Anything that is written inside '..' , ".." , '''..''' , """.."""


2. Derived data types
- list
- tuple 
- set
- dictionary

In [9]:
a = 0

print(a , type(a))

0 <class 'int'>

In [12]:
a = 45.00000

print(a , type(a))

45.0 <class 'float'>

In [21]:
a = 23+8j

print(a , type(a))

(23+8j) <class 'complex'>

In [25]:
a = 23+8j

print(a , type(a))

(23+8j) <class 'complex'>

In [23]:
print(a.real)

23.0

In [24]:
print(a.imag)

8.0

In [27]:
a = False

print(a , type(a))

False <class 'bool'>

In [28]:
a = None

print(a , type(a))

None <class 'NoneType'>

In [30]:
data = [1,2,None,4,5]

In [31]:
15 / 5

3.0

In [32]:
12/5

2.4

In [33]:
12/4

3.0

In [ ]:
col_1         col_2

3            4
4            4
5             None
6            5
67              4

In [38]:
a = 'this is pythons class'

print(a , type(a))

this is pythons class <class 'str'>

In [39]:
a = 'this is python's class'

print(a , type(a))

SyntaxError: unterminated string literal (detected at line 1) (4221937925.py, line 1)

In [40]:
a = "this is python's class"

print(a , type(a))

this is python's class <class 'str'>

In [41]:
a = "this 
is 
python's 
class"

print(a , type(a))

SyntaxError: unterminated string literal (detected at line 1) (2969392692.py, line 1)

In [45]:
a = '''this 
is 
python's 
class'''

print(a , type(a))

this
is
python's
class <class 'str'>

In [43]:
a = """this 
is 
python's 
class"""

print(a , type(a))

this
is
python's
class <class 'str'>

Anything written inside []

- Mutable

In [46]:
a = [23,34,45,56,56]

print(a , type(a))

[23, 34, 45, 56, 56] <class 'list'>

In [50]:
a = [23,34,45,56,56]

a[2] = 50

a

[23, 34, 50, 56, 56]

Anything written inside ()

- Immuable

In [47]:
a = (23,34,45,56,56)

print(a , type(a))

(23, 34, 45, 56, 56) <class 'tuple'>

In [51]:
a = (23,34,45,56,56)

a[2] = 50

a

TypeError: 'tuple' object does not support item assignment

Anything written inside {}

In [48]:
a = {23,34,45,56}

print(a , type(a))

{56, 34, 45, 23} <class 'set'>

In [ ]:
col_1_AGE         col_2_PAN

34              44565465
45              4456546
45              456456546
63              554645645
67              454665465

In [52]:
a = {23,34,45,56,56}

print(a , type(a))

{56, 34, 45, 23} <class 'set'>

In [53]:
a = ['xyz' , 'abc' , 'pqr' , 'myz']
b = ['a' , 'b' , 'a' , 'c']

In [54]:
set(b)

{'a', 'b', 'c'}

In [55]:
a = {'Name' : 'abc' , 'Age' :42 , 'Salary' : 7657667576}

print(a , type(a))

{'Name': 'abc', 'Age': 42, 'Salary': 7657667576} <class 'dict'>

In [60]:
a = {67 : 'abc' , 'Age' :42 , 'Salary' : 7657667576}

print(a , type(a))

{67: 'abc', 'Age': 42, 'Salary': 7657667576} <class 'dict'>

# Identifier rules

- allowed char are a-z,A-Z , 0-9 , _
- Not allowed char are special char
- You cannot start with a number
- Cannot use reserved 
- should not use built in function

In [62]:
DATA_science123 = 100

In [63]:
DATA_science@123 = 100

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2017008666.py, line 1)

In [64]:
DATA_science 123 = 100

SyntaxError: invalid syntax (3811757766.py, line 1)

In [65]:
DATA_science123 = 100

In [66]:
123DATA_science123 = 100

SyntaxError: invalid decimal literal (3882726106.py, line 1)

In [67]:
_123DATA_science123 = 100

In [68]:
A = 10
a = 20

In [69]:
print(A)

10

In [70]:
False = 99

SyntaxError: cannot assign to False (1890883486.py, line 1)

In [71]:
global = 88

SyntaxError: invalid syntax (3421561296.py, line 1)

In [72]:
import keyword 
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [73]:
False = 99

SyntaxError: cannot assign to False (1890883486.py, line 1)

In [74]:
false = 99

In [75]:
str = 99

print(str)

99

In [76]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [77]:
sum([1,2,3,4,5])

15

In [78]:
sum = 100

In [79]:
print(sum)

100

In [80]:
sum([1,2,3,4,5])

TypeError: 'int' object is not callable

In [1]:
sum([1,2,3,4,5])

15

# Type casting , Input output