# Lambda - anonymous function


- A function without a name

In [ ]:
def funct_name(parameters):
    stat1
    stat2
    stat3
    
funct_name(arguments)

In [ ]:
syntax

lambda arguments: expression


- A lambda function can have n number of arguments but only 1 expression is allowed

In [2]:
def adder(a,b):
    c = a+b
    return c

adder(10,20)

30

In [ ]:
lambda a,b: a+b

In [3]:
# Method 1 

x = lambda a,b: a+b

In [4]:
x(10,20)

30

In [5]:
# Method 2

(lambda a,b: a+b)(10,20)

30

In [7]:
def adder(a,b):
    c = a+b
    d = a-b
    return c,d

adder(10,20)

(30, -10)

In [8]:
(lambda a,b: a+b, a-b)(10,20)

<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
C:\Users\Mohammed Israr\AppData\Local\Temp\ipykernel_11404\241315070.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda a,b: a+b, a-b)(10,20)
C:\Users\Mohammed Israr\AppData\Local\Temp\ipykernel_11404\241315070.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda a,b: a+b, a-b)(10,20)
C:\Users\Mohammed Israr\AppData\Local\Temp\ipykernel_11404\241315070.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda a,b: a+b, a-b)(10,20)
C:\Users\Mohammed Israr\AppData\Local\Temp\ipykernel_11404\241315070.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda a,b: a+b, a-b)(10,20)
C:\Users\Mohammed Israr\AppData\Local\Temp\ipykernel_11404\241315070.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda a,b: a+b, a-b)(10,20)
C:\Users\Mohammed Israr\AppData\Local\Temp\ipykernel_11404\241315070.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda a,b: a+b, a-b)(10,20)
C:\Users\Mohammed Israr\AppData\Local\Temp\ipykernel_11404\241315070.py:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (lambda a,b: a+b, a-b)(10,20)

NameError: name 'a' is not defined

In [11]:
(lambda a,b: a+b)(10,20)

30

In [14]:
n = 44
def o_e(a):
    if a%2==0:
        return 'Even'
    else:
        return 'Odd'
o_e(n)

'Even'

In [15]:
(lambda a: 'Even' if a%2==0 else 'odd')(46)

'Even'

In [16]:
(lambda a: 'Even' if a%2==0 else 'odd')(45)

'odd'

In [19]:
def palindrom(x):
    if x == x[::-1]:
        return ('Palindrom')
    else:
        return ('Not a palindrom')
    
palindrom('python')

'Not a palindrom'

In [21]:
(lambda x: 'Palindrom' if x == x[::-1] else 'Not a palindrom')('python')

'Not a palindrom'

# map

map takes compulsarily 2 args

1. function
2. seq

In [22]:
(lambda a: 'Even' if a%2==0 else 'odd')(46)

'Even'

In [ ]:
n = 44
def edd_even(a):
    if a%2==0:
        return 'Even'
    else:
        return 'Odd'
o_e(n)

In [29]:
l = [3,43,4,56,6,7,87,8,8,89,9,8,6]


list(map(edd_even , l))

['Odd',
 'Odd',
 'Even',
 'Even',
 'Even',
 'Odd',
 'Odd',
 'Even',
 'Even',
 'Odd',
 'Odd',
 'Even',
 'Even']

In [27]:
l = [3,43,4,56,6,7,87,8,8,89,9,8,6]


list(map((lambda a: 'Even' if a%2==0 else 'odd') , l))

['odd',
 'odd',
 'Even',
 'Even',
 'Even',
 'odd',
 'odd',
 'Even',
 'Even',
 'odd',
 'odd',
 'Even',
 'Even']

In [32]:
lst = ['level' , 'rotor' , 'racecar' , 'hello' , 'world']

list(map(palindrom , lst))

['Palindrom', 'Palindrom', 'Palindrom', 'Not a palindrom', 'Not a palindrom']

In [33]:
lst = ['level' , 'rotor' , 'racecar' , 'hello' , 'world']

list(map((lambda x: 'Palindrom' if x == x[::-1] else 'Not a palindrom') , lst))

['Palindrom', 'Palindrom', 'Palindrom', 'Not a palindrom', 'Not a palindrom']

In [38]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

In [39]:
list(map((lambda x,y: x+y) , a,b))

[7, 9, 11, 13, 15]

In [40]:
def funct(x,y):
    return x+y

In [41]:
funct(10,20)

30

In [43]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

list(map( funct , a,b))

[7, 9, 11, 13, 15]

In [57]:
marks_scored = [96 , 79 , 48 , 75 , 85 , 92]

total_marks = [120 , 100 , 80 , 110 , 100 , 130]


list(map((lambda x,y:round((x/y)*100 , 2) ) , marks_scored , total_marks))

[80.0, 79.0, 60.0, 68.18, 85.0, 70.77]

# Reduce

In [58]:
lst = [96 , 79 , 48 , 75 , 85 , 92]


min(lst)

48

In [61]:
from functools import reduce

In [62]:
lst = [96 , 79 , 48 , 75 , 85 , 92]

reduce((lambda x,y: x if x<y else y) , lst)

48

In [64]:
lst = [1,2,3,4,5]

reduce((lambda x,y: x+y) , lst)

15

In [69]:
lst = [1,2,3,4,5]

sum(lst)

15

In [ ]:
1,2,3,4,5

3,3,4,5

6,4,5

10,5

15

In [65]:
lst = [96 , 79 , 48 , 75 , 85 , 2]

reduce((lambda x,y: x if x<y else y) , lst)

2

In [ ]:
96 , 79 , 48 , 75 , 85 , 2

79,48 , 75 , 85 , 2

48, 75 , 85 , 2

48,85,2

48,2

2

In [66]:
lst = [96 , 79 , 48 , 75 , 85 , 2]

reduce((lambda x,y: x if x>y else y) , lst)

96

# Filter

- A function should be created in a such a manner that it return only true or false

In [70]:
lst = [96 , 79 , 48 , 75 , 85 , 2]

In [72]:
78 % 2 == 0

True

In [73]:
def funct(a):
    return a%2==0

In [75]:
list(filter(funct , lst))

[96, 48, 2]

In [76]:
list(filter((lambda x : x%2==0) , lst))

[96, 48, 2]

In [77]:
list(filter((lambda x : x%2!=0) , lst))

[79, 75, 85]

In [79]:
lst = ['akzelxw@hotmail.com', 
 'elum@gmail.com', 
 'akbar.caakaterasu@gmail.com', 
 'akarui.kibuno@gmail.com', 
 'ajsparkchick@hotmail.com', 
 'ajmeia@yahoo.com', 
 'ajhnstn87@gmail.com', 
 'ailuvzhoko4@hotmail.com', 
 'ailuvzhoko3@hotmail.com', 
 'ailuvzhoko2@hotmail.com', 
 'ailuvzhoko@hotmail.com', 
 'aillensiquioco@aol.com', 
 'ahmovic_ines@hotmail.com', 
 'ahmed_g300@yahoo.com', 
 'ahmadjazlan@gmail.com', 
 'ahmad_ridho19@yahoo.com']

list(filter((lambda x: 'gmail' in x) , lst))

['elum@gmail.com',
 'akbar.caakaterasu@gmail.com',
 'akarui.kibuno@gmail.com',
 'ajhnstn87@gmail.com',
 'ahmadjazlan@gmail.com']

In [91]:
import pandas as pd

d = {'day': {0: '1/1/2017',
  1: '1/2/2017',
  2: '1/3/2017',
  3: '1/4/2017',
  4: '1/5/2017',
  5: '1/6/2017'},
 'temperature': {0: 32, 1: 35, 2: 28, 3: 24, 4: 32, 5: 31},
 'windspeed': {0: 45, 1: 25, 2: 66, 3: 7, 4: 18, 5: 35},
 'event': {0: 'Rain', 1: 'Sunny', 2: 'Snow', 3: 'Snow', 4: 'Rain', 5: 'Sunny'}}


df = pd.DataFrame(d)

df

        day  temperature  windspeed  event
0  1/1/2017           32         45   Rain
1  1/2/2017           35         25  Sunny
2  1/3/2017           28         66   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32         18   Rain
5  1/6/2017           31         35  Sunny

In [95]:
list(map((lambda a,b:a if a>b else b) ,df['temperature'],df['windspeed']))

[45, 35, 66, 24, 32, 35]

In [94]:
list(map(max ,df['temperature'],df['windspeed']))

[45, 35, 66, 24, 32, 35]