# Float

- Any number with a decimal point

1. Operations possible
- Arithmetic
- comparision
- Equality
- Logical
- Assignment operations are possible except bitwise
- Identity 

2. Operations not possible
- Bitwise 
- Assignment operations are possible with bitwise


### Note:- Memory reusability is not applicable

In [6]:
a = 10.2
b = 34.6

print(a % b)

10.2

In [8]:
a = 10.2
b = 10.2

print(a == b)

True

In [9]:
a = 10.2
b = 11.2

print(a and b)

11.2

In [10]:
a = 10.2
b = 11.2

print(a or b)

10.2

In [11]:
bin(10.1234)

TypeError: 'float' object cannot be interpreted as an integer

In [13]:
a = 10.2
a &= 34.6

print(a)

TypeError: unsupported operand type(s) for &=: 'float' and 'float'

In [15]:
a = 10.2
b = 10.2

print(a is not b)

True

# Complex

- Any number that is written in the form of a+bj 
where a is the real number
b is the imag

1. Operations possible

- Arithmetic operations except Floor div , modulo
- Equality
- Logical
- Assignment op except div , modulo , bitwise
- Identity

2. Operations not possible

- Arithmetic operations with Floor div , modulo
- Comparision
- Bitwise
- Assignment op with div , modulo , bitwise

### Note:- Memory reusability is not applicable

In [21]:
a = 10+6j
b = 11 +8j

print(a // b)

TypeError: unsupported operand type(s) for //: 'complex' and 'complex'

In [22]:
a = 10+6j
b = 11 +8j

print(a > b)

TypeError: '>' not supported between instances of 'complex' and 'complex'

In [23]:
a = 10+6j
b = 11 +8j

print(a != b)

True

In [25]:
a = 10+6j
b = 11 +8j

print(a and b)

(11+8j)

In [24]:
bool(0+0j)

False

In [26]:
a = 10+6j
b = 10+6j

print(a is b)

False

# String

# Properties of string

- It is an seq data type which allows us to perform Indexing and slicing

In [30]:
a = 'this is pythons class'


# python ?

print(a.index('p'))

print(a[8:14])

8
python

In [ ]:
- Palidrom

madam --- madam

rotor -- rotor

In [ ]:
Enter a word

Palindrom 

not a palindrom

In [36]:
a = input('Enter a word : ')

if a == a[::-1]:
    print('Palindrom')
else:
    print('Not a palindrom')

Enter a word : rotor
Palindrom

In [ ]:
# Properties of string

- It is an seq data type which allows us to perform Indexing and slicing
- Basic op - concatination , repetation , identy , membership

- String is an Immutable

In [ ]:
# Concatination
# op --> +
# Operand --> Both the operands should be string

In [37]:
a = 'abc'
b = 'xyz'

a+b

'abcxyz'

In [39]:
a = 'abc'
b = 'xyz'

a+' '+b

'abc xyz'

In [38]:
a = '10'
b = 20

a+b

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Repetation
# op --> *
# Operand --> One should be string and should be an Int

In [41]:
a = '10'
b = 3

a * b

'101010'

In [43]:
a = [12,13,14]
b = 5

a * b

[12, 13, 14, 12, 13, 14, 12, 13, 14, 12, 13, 14, 12, 13, 14]

In [44]:
a = '10'
b = 3.54

a * b

TypeError: can't multiply sequence by non-int of type 'float'

In [45]:
# Identity
# op --> is , is not

a = 'python'
b = 'python'


print(a is b)

True

In [46]:

a = 'python'
b = 'python'


print(a is not b)

False

In [48]:

a = 'python@java'
b = 'python@java'


print(a is b)

False

In [ ]:
# Membership
# op --> in , not in

if the sub seq is present in the seq or not

In [49]:

a = 'this is pythons class'



print('python' in a)

True

In [50]:

a = 'this is pythons class'



print('java' in a)

False

In [54]:

a = 'this is pythons class'



print('java' not in a)

True

In [52]:

a = 'this is pythons class'



print('s i' in a)

True

In [53]:

a = 100005



print(5 in a)

TypeError: argument of type 'int' is not iterable

# String is an immutable

In [55]:
a = 'this is pythons class'


a[8:15]

'pythons'

In [56]:
a = 'this is pythons class'


a[8:15] = 'java'

TypeError: 'str' object does not support item assignment

In [57]:
a= [12,324,4,5]

a[1] = 999999


a

[12, 999999, 4, 5]

In [58]:
a = 'this is pythons class'


a[8:15] = 'java'

TypeError: 'str' object does not support item assignment

In [60]:
a = 'this is pythons class'


a.replace('pythons' , 'java')

'this is java class'

In [61]:
a

'this is pythons class'

In [65]:
a = 'this is pythons class'


a = a.upper()

In [66]:
a

'THIS IS PYTHONS CLASS'

# Methods of string data type

In [70]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [102]:
# capitalize - More specifically, make the first character have upper case and the rest lower

a = 'this is PYTHONS class'

print(a.capitalize())

# lower - Return a copy of the string converted to lowercase.

print(a.lower())

print(a.casefold())

# upper - Return a copy of the string converted to uppercase.

print(a.upper())


# title - ore specifically, words start with uppercased characters and all remaining cased characters have lower case.

print(a.title())

This is pythons class
this is pythons class
this is pythons class
THIS IS PYTHONS CLASS
This Is Pythons Class

In [80]:
user_name = 'xyz@gmail.com'
password = 'python'

In [83]:
a = input('Enter your mail ID : ').lower()
b = input('Enter your password : ').lower()


if (a == user_name) and ( b == password):
    print('Logged in')
else:
    print('Incorrect Info')

Enter your mail ID : XYZ@GMAIL.COM
Enter your password : PYTHON
Logged in

In [84]:
a

'xyz@gmail.com'

In [85]:
a = input('Enter your mail ID : ')
b = input('Enter your password : ')


if (a.lower() == user_name) and ( b.lower() == password):
    print('Logged in')
else:
    print('Incorrect Info')

Enter your mail ID : XYZ@GMAIL.COM
Enter your password : PYTHON
Logged in

In [86]:
a

'XYZ@GMAIL.COM'

# Methods that return bool values

In [91]:
# Starts with

a = 'hello world'

print(a.startswith('h'))

print(a.startswith('hell'))

print(a.startswith('wor'))


print(a.startswith('wor' , 6))

True
True
False
True

In [96]:
# end with

a = 'hello world'

print(a.endswith('d'))


print(a.endswith('rld'))



print(a.endswith('llo'))



print(a.endswith('llo' , 0 , 5))


print(a.endswith('llo' , -11 , -6))

True
True
False
True
True

In [98]:
lst = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com' , 'Chandan@hotmail.com' , 'akanksha@gmail.com' ,
       'ashish@yahoo.com' ,'Dharshan@outlook.com']

for i in lst:
    if i.lower().startswith('a'):
        print(i)

Abhijeet@yahoo.com
Abhishek@gmail.com
akanksha@gmail.com
ashish@yahoo.com

In [104]:
lst = ['Sriram@gmail.com' , 'Abhijeet@yahoo.com' , 'Abhishek@gmail.com' , 'Chandan@hotmail.com' , 'akanksha@gmail.com' ,
       'ashish@yahoo.com' ,'Dharshan@outlook.com']

for i in lst:
    if i.casefold().startswith('a'):
        print(i)

Abhijeet@yahoo.com
Abhishek@gmail.com
akanksha@gmail.com
ashish@yahoo.com

In [106]:
# is alnum - True is alpha , number , mix of both

s1 = 'abc'
s2 = '1234abc'
s3 = '%^*'
s4 = '1234'


print(s1.isalnum()) # T
print(s2.isalnum()) # T
print(s3.isalnum()) # F
print(s4.isalnum()) # T

True
True
False
True

In [107]:
# isalpha - True is alpha 

s1 = 'abc'
s2 = '1234abc'
s3 = '%^*'
s4 = '1234'


print(s1.isalpha()) # T
print(s2.isalpha()) # F
print(s3.isalpha()) # F
print(s4.isalpha()) # F

True
False
False
False

In [111]:
# is digit - True is number , is numberic 

s1 = 'abc'
s2 = '1234abc'
s3 = '%^*'
s4 = '1234'


print(s1.isdigit()) # F
print(s2.isdigit()) # F
print(s3.isdigit()) # F
print(s4.isdigit()) # t

print('--------------')

print(s1.isnumeric()) # f
print(s2.isnumeric()) # F
print(s3.isnumeric()) # F
print(s4.isnumeric()) # T

False
False
False
True
--------------
False
False
False
True

In [112]:
# is identifier

s1 = 'abc'
s2 = '1234abc'
s3 = 'DATA science'
s4 = 'python_java'


print(s1.isidentifier()) # T
print(s2.isidentifier()) # F
print(s3.isidentifier()) # F
print(s4.isidentifier()) # T

True
False
False
True

In [113]:
# isascii

s1 = 'abc'
s2 = '1234abc'
s3 = 'DATA science'
s4 = 'प्रवाह'


print(s1.isascii()) # 
print(s2.isascii()) # 
print(s3.isascii()) # 
print(s4.isascii()) #

True
True
True
False

# Other functions

In [ ]:
# Operator precedence


() - > parenthesis
** --> Exponent
 / , * , // , %
+ , - 
<< , >>
& 
^ 
|
== , !=  ,> , < ,
not
and 
or